<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="proposalProvider" name="ProposalProvider" schema="schema/proposalProvider.exsd"/>
   <extension
         point="com.neXtep.designer.ui.typeController">
      <typeController
            class="com.nextep.designer.sqlgen.ui.controllers.SQLScriptUIController"
            typeId="SQL_SCRIPT">
      </typeController>
      <typeController
            class="com.nextep.datadesigner.sqlgen.ctrl.PackageController"
            typeId="PACKAGE">
      </typeController>
      <typeController
            class="com.nextep.datadesigner.sqlgen.ctrl.ViewController"
            typeId="SQL_VIEW">
      </typeController>
      <typeController
            class="com.nextep.designer.sqlgen.ui.controllers.ProcedureController"
            typeId="PROCEDURE">
      </typeController>
      <typeController
            class="com.nextep.designer.sqlgen.ui.controllers.TriggerUIController"
            typeId="TRIGGER">
      </typeController>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            id="com.neXtep.designer.sqlgen.ui.newSQLScript"
            name="%command.script.name">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            id="com.neXtep.designer.dbgm.ui.newPackage"
            name="%command.package.name">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            id="com.neXtep.designer.sqlgen.ui.newProcedure"
            name="%command.procedure.name">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlgen.ui.handlers.ShowFullDDLHandler"
            id="com.neXtep.designer.sqlgen.ui.showFullDDL"
            name="%command.showFullDDL.name">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlgen.ui.handlers.ShowIncrementalDDLHandler"
            id="com.neXtep.designer.sqlgen.ui.showIncrementalDDL"
            name="%command.showIncDDL.name">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlgen.ui.handlers.OpenDeclarationHandler"
            id="com.neXtep.designer.sqlgen.ui.openElement"
            name="%command.openDeclaration.name">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlgen.ui.handlers.SearchSQLHandler"
            id="com.neXtep.designer.sqlgen.ui.sqlSearch"
            name="%command.searchSqlRef.name">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlgen.ui.handlers.ShowFullDDLForVendorHandler"
            id="com.neXtep.designer.sqlgen.ui.showFullForVendor"
            name="%command.showFullDDLForVendor.name">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlgen.ui.handlers.ShowIncrementalDDLForVendorHandler"
            id="com.neXtep.designer.sqlgen.ui.showIncrementalForVendor"
            name="%command.showIncDDLForVendor.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=sql">
         <menu
               icon="resource/SQLScriptIconTiny.ico"
               label="%menu.showDDL.label"
               tooltip="%menu.showDDL.tooltip">
            <command
                  commandId="com.neXtep.designer.sqlgen.ui.showFullDDL"
                  label="%command.FullDDLlabel"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="com.neXtep.designer.sqlgen.ui.isFullGenerable">
                     </test>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="com.neXtep.designer.sqlgen.ui.showIncrementalDDL"
                  label="%command.IncDDL.label"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <test
                              property="com.neXtep.designer.sqlgen.ui.isIncGenerable">
                        </test>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="com.neXtep.designer.sqlgen.ui.showFullForVendor"
                  label="%command.fullForVendorlabel"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="com.neXtep.designer.sqlgen.ui.isFullGenerable">
                     </test>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="com.neXtep.designer.sqlgen.ui.showIncrementalForVendor"
                  label="%command.IncDDLForVendor.label"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="com.neXtep.designer.sqlgen.ui.isFullGenerable">
                     </test>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
         <menu
               icon="resource/search.gif"
               label="%menu.searchRefs.label">
            <command
                  commandId="com.neXtep.designer.sqlgen.ui.sqlSearch"
                  label="%command.sqlSource.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="com.nextep.datadesigner.dbgm.model.IDatabaseObject">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.jface.text.ITextSelection">
                        </instanceof>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.neXtep.designer.additions?before=specific">
         <command
               commandId="com.neXtep.designer.sqlgen.ui.newSQLScript"
               icon="resource/NewSQLScriptIconSmall.ico"
               label="%command.sqlScript.label">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="com.nextep.designer.vcs.model.IVersionContainer">
                        </instanceof>
                        <and>
                           <instanceof
                                 value="com.nextep.designer.vcs.ui.model.ITypedNode">
                           </instanceof>
                           <test
                                 property="com.neXtep.designer.ui.typeId"
                                 value="SQL_SCRIPT">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="SQL_SCRIPT">
            </parameter>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.ui.newPackage"
               icon="resource/NewPackageIconSmall.ico"
               label="%command.package.label">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="PACKAGE">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <and>
                           <instanceof
                                 value="com.nextep.datadesigner.model.IElementType">
                           </instanceof>
                           <equals
                                 value="PACKAGE">
                           </equals>
                        </and>
                        <adapt
                              type="com.nextep.designer.vcs.model.IVersionContainer">
                           <test
                                 forcePluginActivation="true"
                                 property="com.neXtep.designer.matchVendor"
                                 value="ORACLE">
                           </test>
                        </adapt>
                        <and>
                           <instanceof
                                 value="com.nextep.designer.vcs.ui.model.ITypedNode">
                           </instanceof>
                           <test
                                 property="com.neXtep.designer.ui.typeId"
                                 value="PACKAGE">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.sqlgen.ui.newProcedure"
               icon="resource/NewProcedureSmall.ico"
               label="%command.procedure.label"
               style="push">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="PROCEDURE">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <and>
                           <instanceof
                                 value="com.nextep.datadesigner.model.IElementType">
                           </instanceof>
                           <equals
                                 value="PROCEDURE">
                           </equals>
                        </and>
                        <adapt
                              type="com.nextep.designer.vcs.model.IVersionContainer">
                        </adapt>
                        <and>
                           <instanceof
                                 value="com.nextep.designer.vcs.ui.model.ITypedNode">
                           </instanceof>
                           <test
                                 property="com.neXtep.designer.ui.typeId"
                                 value="PROCEDURE">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.neXtep.designer.ui.toolbar.actions?before=specific">
         <command
               commandId="com.neXtep.designer.vcs.ui.newContainerBasedTypedObject"
               icon="resource/NewSQLScriptIconSmall.ico"
               label="%command.script.name">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="SQL_SCRIPT">
            </parameter>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.newContainerBasedTypedObject"
               icon="resource/NewPackageIconSmall.ico"
               label="%command.package.name">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="PACKAGE">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <test
                     property="com.neXtep.designer.matchVendor"
                     value="ORACLE">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.newContainerBasedTypedObject"
               icon="resource/NewProcedureSmall.ico"
               label="%command.procedure.name"
               style="push">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="PROCEDURE">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            commandId="com.neXtep.designer.sqlgen.ui.newProcedure">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <instanceof
                        value="com.nextep.designer.vcs.model.IVersionContainer">
                  </instanceof>
                  <and>
                     <instanceof
                           value="com.nextep.datadesigner.model.IElementType">
                     </instanceof>
                     <equals
                           value="PROCEDURE">
                     </equals>
                  </and>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            commandId="com.neXtep.designer.sqlgen.ui.newSQLScript">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <instanceof
                        value="com.nextep.designer.vcs.model.IVersionContainer">
                  </instanceof>
                  <and>
                     <instanceof
                           value="com.nextep.datadesigner.model.IElementType">
                     </instanceof>
                     <equals
                           value="SQL_SCRIPT">
                     </equals>
                  </and>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            commandId="com.neXtep.designer.dbgm.ui.newPackage">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="com.nextep.designer.vcs.model.IVersionContainer">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.nextep.designer.sqlgen.ui.handlers.RenameParseableHandler"
            commandId="com.neXtep.designer.vcs.ui.rename">
         <activeWhen>
            <iterate>
               <instanceof
                     value="com.nextep.datadesigner.dbgm.model.IParseable">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="com.neXtep.designer.core.SelectionInvoker">
      <selectionInvoker
            class="com.nextep.datadesigner.sqlgen.ctrl.Synchronize"
            name="repository.synchronize">
      </selectionInvoker>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.nextep.designer.sqlgen.ui.SQLScriptEditorFactory"
            id="com.neXtep.designer.sqlgen.ui.SQLScriptFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.nextep.designer.sqlgen.ui.editors.SQLEditor"
            contributorClass="com.nextep.designer.sqlgen.ui.SQLEditorActionBarContributor"
            default="true"
            icon="resource/SQLScriptIconTiny.ico"
            id="com.neXtep.designer.sqlgen.ui.SQLEditor"
            name="%editor.sql.name">
         <contentTypeBinding
               contentTypeId="com.neXtep.designer.sqlgen.ui.sql">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.nextep.designer.sqlgen.ui.editors.SQLMultiEditor"
            contributorClass="com.nextep.designer.sqlgen.ui.SQLEditorActionBarContributor"
            icon="resource/PackageIconTiny.ico"
            id="com.neXtep.designer.sqlgen.ui.packageEditor"
            name="%editor.package.name">
      </editor>
      <editor
            class="com.nextep.designer.sqlgen.ui.editors.SQLMultiEditor"
            contributorClass="com.nextep.designer.sqlgen.ui.SQLEditorActionBarContributor"
            icon="resource/MultiScriptTiny.ico"
            id="com.neXtep.designer.sqlgen.ui.multiSQLEditor"
            name="%editor.sqlMulti.name.1">
      </editor>
      <editor
            class="com.nextep.designer.sqlgen.ui.dbgm.ViewEditor"
            contributorClass="com.nextep.designer.sqlgen.ui.SQLEditorActionBarContributor"
            default="false"
            icon="resource/ViewTiny.ico"
            id="com.neXtep.designer.sqlgen.ui.viewEditor"
            name="%editor.view.name">
      </editor>
      <editor
            class="com.nextep.designer.sqlgen.ui.dbgm.MixedSQLEditor"
            contributorClass="com.nextep.designer.sqlgen.ui.SQLEditorActionBarContributor"
            default="false"
            id="com.neXtep.designer.sqlgen.ui.mixedSqlEditor"
            name="%editor.mixedsql.name">
      </editor>
      <editor
            class="com.nextep.datadesigner.sqlgen.gui.FileTextEditor"
            default="false"
            id="com.neXtep.designer.vcs.gui.rcp.FileTextEditor"
            name="%editor.file.name">
      </editor>
      <editor
            class="com.nextep.designer.sqlgen.ui.editors.SQLEditor"
            contributorClass="com.nextep.designer.sqlgen.ui.SQLEditorActionBarContributor"
            icon="resource/public_co.gif"
            id="com.neXtep.designer.sqlgen.ui.procedureEditor"
            name="%editor.procedure.name">
      </editor>
   </extension>
   <extension
         point="com.neXtep.designer.ui.typePersister">
      <typePersister
            class="com.nextep.datadesigner.vcs.gui.external.VersionablePersister"
            typeId="SQL_SCRIPT">
      </typePersister>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.nextep.designer.core.preferences.CorePreferencePage"
            class="com.nextep.designer.sqlgen.ui.preferences.SQLEditorPreferencePage"
            id="com.nextep.designer.sqlgen.ui.preferences.SQLEditorPreferencePage"
            name="%preferences.sqlEditor.name">
      </page>
      <page
            category="com.nextep.designer.core.preferences.CorePreferencePage"
            class="com.nextep.designer.sqlgen.ui.preferences.GeneratorPreferencePage"
            id="com.nextep.designer.sqlgen.preferences.GeneratorPreferencePage"
            name="%properties.generator.name">
      </page>
      <page
            category="com.nextep.designer.sqlgen.preferences.GeneratorPreferencePage"
            class="com.nextep.designer.sqlgen.ui.preferences.DropStrategyPreferencePage"
            id="com.neXtep.designer.sqlgen.preferences.DropStrategyPreferencePage"
            name="%properties.drop.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nextep.designer.sqlgen.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.neXtep.designer.sqlgen.ui.occurrences">
      </type>
      <type
            name="com.neXtep.designer.sqlgen.ui.diff.new">
      </type>
      <type
            name="com.neXtep.designer.sqlgen.ui.diff.modified">
      </type>
      <type
            name="com.neXtep.designer.sqlgen.ui.diff.removed">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.neXtep.designer.sqlgen.ui.openElement"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="sql,tab,ind,fk,pk,drp,seq"
            id="com.neXtep.designer.sqlgen.ui.sql"
            name="%content-type.sqlScript.name"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="com.neXtep.designer.core.command">
      <command
            class="com.nextep.designer.sqlgen.ui.commands.RefreshErrorsCommand"
            name="refreshErrors">
      </command>
   </extension>
   <extension
         point="com.neXtep.designer.ui.editorContribution">
      <editorContribution
            class="com.nextep.datadesigner.sqlgen.gui.SynchronizationFilterEditor"
            typeId="CONTAINER">
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.nextep.datadesigner.sqlgen.gui.GenerablePropertyTester"
            id="com.neXtep.designer.sqlgen.ui.sqlGenerationTester"
            namespace="com.neXtep.designer.sqlgen.ui"
            properties="isGenerable,isIncGenerable,isFullGenerable"
            type="com.nextep.datadesigner.model.ITypedObject">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.neXtep.designer.sqlgen.ui.occurrences"
            includeOnPreferencePage="true"
            label="%annotation.occurrences.label"
            icon="$nl$/icons/full/obj16/searchm_obj.gif"
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
	        isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
	        isGoToPreviousNavigationTarget="false"
            textStylePreferenceKey="occurrenceTextStyle"
            textStylePreferenceValue="NONE">
      </specification>
      <specification
            annotationType="com.neXtep.designer.sqlgen.ui.diff.new"
            colorPreferenceKey="fullcoverage_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoverage_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerfull.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoverage_isGoToPreviousNavigationTargetKey"
            label="%annotation.diffNew.label"
            overviewRulerPreferenceKey="fullcoverage_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoverage_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="com.neXtep.designer.sqlgen.ui.diff.modified"
            colorPreferenceKey="partialcoverage_color"
            colorPreferenceValue="255,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoverage_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerpartial.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoverage_isGoToPreviousNavigationTargetKey"
            label="%annotation.diffDiffer.label"
            overviewRulerPreferenceKey="partialcoverage_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoverage_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="com.neXtep.designer.sqlgen.ui.diff.removed"
            colorPreferenceKey="nocoverage_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="nocoverage_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerno.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoverage_isGoToPreviousNavigationTargetKey"
            label="%annotation.diffRemoved.label"
            overviewRulerPreferenceKey="nocoverage_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoverage_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.ui.proposalProvider">
      <proposalProvider
            class="com.nextep.designer.sqlgen.ui.impl.GenericTypedObjectTextProvider">
      </proposalProvider>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.nextep.designer.sqlgen.ui.impl.SQLSearchViewPage"
            id="com.neXtep.designer.sqlgen.ui.sqlSearchPage"
            searchResultClass="com.nextep.designer.sqlgen.ui.impl.SQLSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="com.nextep.designer.sqlgen.ui.impl.SQLSearchLabelDecorator"
            id="com.neXtep.designer.sqlgen.ui.versionDecorator"
            label="%decorator.versionInfo.label"
            lightweight="true"
            objectClass="com.nextep.designer.vcs.model.IVersionable"
            state="true">
      </decorator>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.ui.comparisonEditorProvider">
      <comparisonEditorProvider
            class="com.nextep.designer.sqlgen.ui.impl.SqlComparisonEditorProvider"
            default="true">
      </comparisonEditorProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.nextep.designer.sqlgen.ui.navigators.PackageContentProvider"
            id="com.neXtep.designer.sqlgen.ui.procedureContent"
            labelProvider="com.nextep.designer.vcs.ui.jface.VersionableNewLabelProvider"
            name="Stored code structure">
         <triggerPoints>
            <or>
               <instanceof
                     value="com.nextep.datadesigner.dbgm.model.IVariableContainer">
               </instanceof>
               <instanceof
                     value="com.nextep.datadesigner.dbgm.model.IProcedureContainer">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="com.nextep.designer.sqlgen.ui.dialogs.SqlSearchDialogPage"
            enabled="true"
            icon="resource/search.gif"
            id="com.neXtep.designer.sqlgen.ui.sqlSearchPage"
            label="%search.page.label">
      </page>
   </extension>

</plugin>
