<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="VersionableFactory" name="VersionableFactory" schema="schema/VersionableFactory.exsd"/>
   <extension-point id="MergerProvider" name="MergerProvider" schema="schema/MergerProvider.exsd"/>
   <extension-point id="viewLinker" name="ViewLinker" schema="schema/viewLinker.exsd"/>
   <extension-point id="namingVariableProvider" name="NamingVariableProvider" schema="schema/namingVariableProvider.exsd"/>
   <extension
         point="com.neXtep.designer.vcs.VersionableFactory">
      <versionableFactory
            class="com.nextep.designer.vcs.factories.ContainerFactory"
            name="Container Factory"
            versionableInterfaceName="com.nextep.designer.vcs.model.IVersionContainer">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.vcs.factories.DiagramFactory"
            name="IDiagram Factory"
            versionableInterfaceName="com.nextep.designer.vcs.model.IDiagram">
      </versionableFactory>
   </extension>
   <extension
         point="com.neXtep.designer.core.elementType">
      <elementType
            Id="VERSIONABLE"
            categoryLabel="%elementType.versionable.categoryLabel"
            description="%elementType.versionable.description"
            name="%elementType.versionable.name"
            parentTypeId="CONTAINER"
            typeInterface="com.nextep.designer.vcs.model.IVersionable">
      </elementType>
      <elementType
            Id="CONTAINER"
            categoryIcon="resource/ViewIconSmall.ico"
            categoryIcon_16x16="resource/ViewIconTiny.ico"
            categoryLabel="%elementType.module.categoryLabel"
            description="%elementType.module.description"
            icon="resource/ViewIconSmall.ico"
            icon_16x16="resource/ViewIconTiny.ico"
            name="%elementType.module.name"
            parentTypeId="VIEW"
            typeInterface="com.nextep.designer.vcs.model.IVersionContainer">
      </elementType>
      <elementType
            Id="VIEW"
            categoryIcon="resource/ViewIconSmall.ico"
            categoryIcon_16x16="resource/ViewIconTiny.ico"
            categoryLabel="%elementType.workspace.categoryLabel"
            description="%elementType.workspace.description"
            icon="resource/ViewIconSmall.ico"
            icon_16x16="resource/ViewIconTiny.ico"
            name="%elementType.workspace.name"
            typeInterface="com.nextep.designer.vcs.model.IWorkspace">
      </elementType>
      <elementType
            Id="DIAGRAM"
            categoryIcon="resource/DiagramIconSmall.ico"
            categoryLabel="%elementType.diagram.categoryLabel"
            description="%elementType.diagram.description"
            icon="resource/DiagramIconSmall.ico"
            icon_16x16="resource/DiagramIconTiny.ico"
            name="%elementType.diagram.name"
            parentTypeId="CONTAINER"
            typeInterface="com.nextep.designer.vcs.model.IDiagram">
      </elementType>
      <elementType
            Id="DIAGRAM_ITEM"
            categoryLabel="%elementType.diagramItem.categoryLabel"
            name="%elementType.diagramItem.name"
            typeInterface="com.nextep.designer.vcs.model.IDiagramItem">
      </elementType>
      <elementType
            Id="FILE"
            categoryIcon="resource/fileSmall.ico"
            categoryIcon_16x16="resource/fileTiny.ico"
            categoryLabel="%elementType.file.categoryLabel"
            icon="resource/fileSmall.ico"
            icon_16x16="resource/fileTiny.ico"
            name="%elementType.file.name"
            typeInterface="com.nextep.designer.vcs.model.IRepositoryFile">
      </elementType>
      <elementType
            Id="USER"
            categoryIcon="resource/UsersSmall.ico"
            categoryIcon_16x16="resource/UsersTiny.gif"
            categoryLabel="%elementType.user.categoryLabel"
            icon="resource/UserSmall.gif"
            icon_16x16="resource/UserTiny.gif"
            name="%elementType.user.name"
            typeInterface="com.nextep.designer.vcs.model.IRepositoryUser">
      </elementType>
      <elementType
            Id="TARGET_SET"
            categoryIcon="resource/databasesSmall.png"
            categoryIcon_16x16="resource/repositories-blue.gif"
            categoryLabel="%elementType.targetSet.categoryLabel"
            icon="resource/databasesSmall.png"
            icon_16x16="resource/repositories-blue.gif"
            name="%elementType.targetSet.name"
            typeInterface="com.nextep.designer.vcs.model.ITargetSet">
      </elementType>
      <controller
            class="com.nextep.designer.vcs.VersionableController"
            typeId="VERSIONABLE">
      </controller>
      <controller
            class="com.nextep.designer.vcs.controllers.ContainerController"
            typeId="CONTAINER">
      </controller>
      <controller
            class="com.nextep.designer.vcs.controllers.VersionViewController"
            typeId="VIEW">
      </controller>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.MergerProvider">
      <mergerProvider
            mergerClass="com.nextep.datadesigner.vcs.impl.ContainerMerger"
            typeId="CONTAINER">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.datadesigner.vcs.impl.AttributeMerger"
            typeId="ATTRIBUTE">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.datadesigner.vcs.impl.ReferenceNonTransitiveMerger"
            typeId="REFERENCE">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.datadesigner.vcs.impl.DiagramMerger"
            typeId="DIAGRAM">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.datadesigner.vcs.impl.DiagramItemMerger"
            typeId="DIAGRAM_ITEM">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.datadesigner.vcs.impl.RepositoryFileMerger"
            typeId="FILE">
      </mergerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.viewLinker">
      <viewLinker
            class="com.nextep.datadesigner.vcs.services.VCSLinker"
            name="Repository user linker">
      </viewLinker>
   </extension>
   <extension
         point="com.neXtep.designer.core.command">
      <command
            class="com.nextep.datadesigner.vcs.command.GetLockReasonCommand"
            name="getLockReason">
      </command>
   </extension>
   <extension
         point="com.neXtep.designer.core.markerProvider">
      <markerProvider
            class="com.nextep.designer.vcs.marker.impl.ExternalReferenceMarkersProvider">
      </markerProvider>
      <markerProvider
            class="com.nextep.designer.vcs.marker.impl.InconsistentObjectsMarkerProvider">
      </markerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.namingVariableProvider">
      <namingVariableProvide
            class="com.nextep.datadesigner.vcs.providers.ParentModuleNameProvider">
      </namingVariableProvide>
      <namingVariableProvide
            class="com.nextep.datadesigner.vcs.providers.ParentModuleShortNameProvider">
      </namingVariableProvide>
   </extension>
   <extension
         point="com.neXtep.designer.core.persistenceAccessors">
      <persistenceAccessor
            class="com.nextep.designer.vcs.persistence.RepositoryUserPersistenceAccessor"
            typeId="USER">
      </persistenceAccessor>
   </extension>
   <extension
         point="com.neXtep.designer.core.factories">
      <factory
            class="com.nextep.designer.vcs.factories.TargetSetFactory"
            typeId="TARGET_SET">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nextep.designer.vcs.preferences.VersioningPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.neXtep.designer.core.persistenceFile">
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/VersionBranchMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/VersionInfoMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/ContainerInfoMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/NamingPatternMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/WorkspaceMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/IVersionableMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/VersionContainerMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/RepositoryFileMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/VersionedDiagramMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/DiagramItemMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/vcs/dao/RepositoryUserMapping.hbm.xml">
      </persistenceFile>
   </extension>

</plugin>
