<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.neXtep.designer.vcs.MergerProvider">
      <mergerProvider
            context="MYSQL"
            mergerClass="com.nextep.designer.dbgm.mysql.impl.MySQLColumnMerger"
            typeId="COLUMN">
      </mergerProvider>
      <mergerProvider
            context="MYSQL"
            mergerClass="com.nextep.designer.dbgm.mysql.impl.MySQLTableMerger"
            typeId="TABLE">
      </mergerProvider>
      <mergerProvider
            context="MYSQL"
            mergerClass="com.nextep.designer.dbgm.mysql.impl.MySQLTriggerMerger"
            typeId="TRIGGER">
      </mergerProvider>
      <mergerProvider
            context="MYSQL"
            mergerClass="com.nextep.designer.dbgm.mysql.impl.MySQLViewMerger"
            typeId="SQL_VIEW">
      </mergerProvider>
      <mergerProvider
            context="MYSQL"
            mergerClass="com.nextep.designer.dbgm.mysql.impl.MySQLIndexMerger"
            typeId="INDEX">
      </mergerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.VersionableFactory">
      <versionableFactory
            class="com.nextep.designer.dbgm.mysql.factories.MySQLTableFactory"
            name="TABLE"
            vendor="MYSQL"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IBasicTable">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.mysql.factories.MySQLIndexFactory"
            name="INDEX"
            vendor="MYSQL"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IIndex">
      </versionableFactory>
   </extension>
   <extension
         point="com.neXtep.designer.core.markerProvider">
      <markerProvider
            class="com.nextep.designer.dbgm.mysql.markers.MySQLIndexMarkerProvider"
            context="MYSQL"
            typeId="INDEX">
      </markerProvider>
      <markerProvider
            class="com.nextep.designer.dbgm.mysql.markers.MySQLForeignKeyMarkerProvider"
            context="MYSQL"
            typeId="FOREIGN_KEY">
      </markerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.core.persistenceFile">
      <persistenceFile
            file="src/com/nextep/designer/dbgm/mysql/dao/MySQLColumnMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/mysql/dao/MySQLTableMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/mysql/dao/MySQLIndexMapping.hbm.xml">
      </persistenceFile>
   </extension>

</plugin>
