<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.neXtep.designer.vcs.VersionableFactory">
      <versionableFactory
            class="com.nextep.designer.dbgm.oracle.factories.OracleTableFactory"
            name="Oracle table factory"
            vendor="ORACLE"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IBasicTable">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.oracle.factories.UserCollectionFactory"
            name="User Collection factory"
            vendor="ORACLE"
            versionableInterfaceName="com.nextep.designer.dbgm.model.IUserCollection">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.oracle.factories.OracleIndexFactory"
            name="Oracle index factory"
            vendor="ORACLE"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IIndex">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.oracle.factories.OracleUserTypeFactory"
            name="Oracle user type factory"
            vendor="ORACLE"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IUserType">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.oracle.factories.OracleClusterFactory"
            name="Oracle cluster factory"
            vendor="ORACLE"
            versionableInterfaceName="com.nextep.designer.dbgm.oracle.model.IOracleCluster">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.oracle.factories.OracleMaterializedViewFactory"
            name="Oracle materialized view factory"
            vendor="ORACLE"
            versionableInterfaceName="com.nextep.designer.dbgm.oracle.model.IMaterializedView">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.oracle.factories.OracleMaterializedViewLogFactory"
            name="Materialized view log factory"
            vendor="ORACLE"
            versionableInterfaceName="com.nextep.designer.dbgm.oracle.model.IMaterializedViewLog">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.oracle.factories.OracleSynonymFactory"
            name="Oracle synonym factory"
            vendor="ORACLE"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.ISynonym">
      </versionableFactory>
   </extension>
   <extension
         point="com.neXtep.designer.core.elementType">
      <elementType
            Id="USER_COLLECTION"
            categoryIcon="resources/UserCollectionSmall.ico"
            categoryIcon_16x16="resources/UserCollectionTiny.ico"
            categoryLabel="User collections"
            icon="resources/UserCollectionSmall.ico"
            icon_16x16="resources/UserCollectionTiny.ico"
            name="User collection"
            typeInterface="com.nextep.designer.dbgm.model.IUserCollection">
      </elementType>
      <elementType
            Id="PART_PHYSPROPS"
            categoryIcon="resources/TablespaceSmall.ico"
            categoryIcon_16x16="resources/TablespaceTiny.ico"
            categoryLabel="%elementType.partPhysProps.categoryLabel"
            icon="resources/TablespaceSmall.ico"
            icon_16x16="resources/TablespaceTiny.ico"
            name="%elementType.partPhysProps.name"
            typeInterface="com.nextep.designer.dbgm.oracle.model.IPartitionPhysicalProperties">
      </elementType>
      <elementType
            Id="CLUSTER"
            categoryIcon="resources/ClusterSmallCube.ico"
            categoryIcon_16x16="resources/ClusterTinyCube.ico"
            categoryLabel="Clusters"
            icon="resources/ClusterSmallCube.ico"
            icon_16x16="resources/ClusterTinyCube.ico"
            name="Cluster"
            typeInterface="com.nextep.designer.dbgm.oracle.model.IOracleCluster">
      </elementType>
      <elementType
            Id="CLUSTER_TAB"
            categoryIcon="resources/ClusterSmallCube.ico"
            categoryIcon_16x16="resources/ClusterTinyCube.ico"
            categoryLabel="%elementType.clusteredTab.categoryLabel"
            icon="resources/ClusterSmallCube.ico"
            icon_16x16="resources/ClusterTinyCube.ico"
            name="%elementType.clusteredTab.name"
            typeInterface="com.nextep.designer.dbgm.oracle.model.IOracleClusteredTable">
      </elementType>
      <elementType
            Id="REF_MAPPING"
            categoryIcon="resources/AttribIconSmall.ico"
            categoryIcon_16x16="resources/AttribIconTiny.ico"
            categoryLabel="Reference mapping"
            icon="resources/AttribIconSmall.ico"
            icon_16x16="resources/AttribIconTiny.ico"
            name="Reference mapping"
            typeInterface="com.nextep.designer.dbgm.oracle.impl.merge.RefMapping">
      </elementType>
      <elementType
            Id="MAT_VIEW"
            categoryIcon="resources/MaterializedViewSmall.ico"
            categoryIcon_16x16="resources/MaterializedViewTiny.ico"
            categoryLabel="Materialized views"
            icon="resources/MaterializedViewSmall.ico"
            icon_16x16="resources/MaterializedViewTiny.ico"
            name="Materialized view"
            typeInterface="com.nextep.designer.dbgm.oracle.model.IMaterializedView">
         <vendorMapping
               dbVendor="ORACLE"
               typeName="MATERIALIZED VIEW">
         </vendorMapping>
      </elementType>
      <elementType
            Id="MVIEW_LOG"
            categoryIcon="resources/MaterializedViewLogSmall.ico"
            categoryIcon_16x16="resources/MaterializedViewLogTiny.ico"
            categoryLabel="Materialize view logs"
            icon="resources/MaterializedViewLogSmall.ico"
            icon_16x16="resources/MaterializedViewLogTiny.ico"
            name="Materialized view log"
            typeInterface="com.nextep.designer.dbgm.oracle.model.IMaterializedViewLog">
      </elementType>
      <elementType
            Id="MVIEW_LOG_PROPS"
            categoryIcon="resources/TablespaceSmall.ico"
            categoryIcon_16x16="resources/TablespaceTiny.ico"
            categoryLabel="Materialized view physical implementation"
            icon="resources/TablespaceSmall.ico"
            icon_16x16="resources/TablespaceTiny.ico"
            name="Materialized view physical properties"
            typeInterface="com.nextep.designer.dbgm.oracle.model.IMaterializedViewLogPhysicalProperties">
      </elementType>
      <controller
            class="com.nextep.designer.dbgm.oracle.controllers.TablePartitionController"
            context="ORACLE"
            typeId="TAB_PARTITION">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.oracle.controllers.PartitionPhysicalPropertiesController"
            context="ORACLE"
            typeId="PART_PHYSPROPS">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.oracle.controllers.OracleCheckConstraintController"
            context="ORACLE"
            typeId="CHECK">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.oracle.controllers.MaterializedViewLogPhysicalPropertiesController"
            context="ORACLE"
            typeId="MVIEW_LOG_PROPS">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.oracle.controllers.IndexPartitionController"
            context="ORACLE"
            typeId="IND_PARTITION">
      </controller>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.MergerProvider">
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.OracleTableMerger"
            typeId="TABLE">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.TablePhysicalPropertiesMerger"
            typeId="TAB_PHYSPROPS">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.UserCollectionMerger"
            typeId="USER_COLLECTION">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.IndexPhysicalPropertiesMerger"
            typeId="IND_PHYSPROPS">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.TablePartitionMerger"
            typeId="TAB_PARTITION">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.PartitionPhysicalPropertiesMerger"
            typeId="PART_PHYSPROPS">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.IndexPartitionMerger"
            typeId="IND_PARTITION">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.OracleUniqueKeyMerger"
            typeId="UNIQUE_KEY">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.OracleUserTypeMerger"
            typeId="USER_TYPE">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.CheckConstraintMerger"
            typeId="CHECK">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.OracleClusterMerger"
            typeId="CLUSTER">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.OracleClusteredTableMerger"
            typeId="CLUSTER_TAB">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.RefMappingMerger"
            typeId="REF_MAPPING">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.MaterializedViewMerger"
            typeId="MAT_VIEW">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.MaterializedViewLogMerger"
            typeId="MVIEW_LOG">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.MaterializedViewLogPropertiesMerger"
            typeId="MVIEW_LOG_PROPS">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.OracleSynonymMerger"
            typeId="SYNONYM">
      </mergerProvider>
      <mergerProvider
            context="ORACLE"
            mergerClass="com.nextep.designer.dbgm.oracle.impl.merge.OracleSequenceMerger"
            typeId="SEQUENCE">
      </mergerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.core.factories">
      <factory
            class="com.nextep.designer.dbgm.oracle.factories.OracleUniqueConstraintFactory"
            context="ORACLE"
            typeId="UNIQUE_KEY">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.oracle.factories.OracleTablePhysicalPropertiesFactory"
            context="ORACLE"
            typeId="TAB_PHYSPROPS">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.oracle.factories.OracleIndexPhysicalPropertiesFactory"
            context="ORACLE"
            typeId="IND_PHYSPROPS">
      </factory>
   </extension>
   <extension
         point="com.neXtep.designer.core.persistenceFile">
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/OracleTableMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/OracleIndexMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/OracleUniqueKeyMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/OracleTablePhysicalPropertiesMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/OracleIndexPhysicalPropertiesMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/PartitionPhysicalPropertiesMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/TablePartitionMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/IndexPartitionMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/UserCollectionMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/MaterializedViewMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/MaterializedViewLogMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/MaterializedViewLogPhysicalPropertiesMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/OracleUserTypeMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/OracleClusterMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/OracleClusteredTableMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/oracle/dao/OracleSynonymMapping.hbm.xml">
      </persistenceFile>
   </extension>

</plugin>
