<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="datatypeProvider" name="datatypeProvider" schema="schema/datatypeProvider.exsd"/>
   <extension-point id="sqlTypedParser" name="SQLTypedParser" schema="schema/sqlTypedParser.exsd"/>
   <extension
         point="com.neXtep.designer.vcs.VersionableFactory">
      <versionableFactory
            class="com.nextep.designer.dbgm.factories.TableFactory"
            name="IBasicTable Factory"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IBasicTable">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.factories.DataSetFactory"
            name="IDataSet Factory"
            versionableInterfaceName="com.nextep.designer.dbgm.model.IDataSet">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.factories.SequenceFactory"
            name="ISequenceFactory"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.ISequence">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.factories.IndexFactory"
            name="IIndex Factory"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IIndex">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.factories.UserTypeFactory"
            name="IUserType factory"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IUserType">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.factories.ViewFactory"
            name="IView Factory"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IView">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.factories.TriggerFactory"
            name="ITrigger Factory"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.ITrigger">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.factories.SynonymFactory"
            name="ISynonym Factory"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.ISynonym">
      </versionableFactory>
   </extension>
   <extension
         point="com.neXtep.designer.core.elementType">
      <elementType
            Id="TABLE"
            categoryIcon="resource/TableIconSmall.ico"
            categoryIcon_16x16="resource/TableIconTiny.ico"
            categoryLabel="%elementType.table.categoryLabel"
            description="%elementType.table.description"
            icon="resource/TableIconSmall.ico"
            icon_16x16="resource/TableIconTiny.ico"
            name="%elementType.table.name"
            parentTypeId="CONTAINER"
            typeInterface="com.nextep.datadesigner.dbgm.model.IBasicTable">
      </elementType>
      <elementType
            Id="COLUMN"
            categoryIcon="resource/ColumnTypeIconSmall.ico"
            categoryIcon_16x16="resource/ColumnIconTiny.ico"
            categoryLabel="%elementType.column.categoryLabel"
            description="%elementType.column.description"
            icon="resource/ColumnIconSmall.ico"
            icon_16x16="resource/ColumnIconTiny.ico"
            name="%elementType.column.name"
            parentTypeId="TABLE"
            typeInterface="com.nextep.datadesigner.dbgm.model.IBasicColumn">
      </elementType>
      <elementType
            Id="FOREIGN_KEY"
            categoryIcon="resource/foreignKey24.png"
            categoryIcon_16x16="resource/foreignKey.png"
            categoryLabel="%elementType.fk.categoryLabel"
            description="%elementType.fk.description"
            icon="resource/foreignKey24.png"
            icon_16x16="resource/foreignKey.png"
            name="%elementType.fk.name"
            parentTypeId="TABLE"
            typeInterface="com.nextep.datadesigner.dbgm.impl.ForeignKeyConstraint">
      </elementType>
      <elementType
            Id="UNIQUE_KEY"
            categoryIcon="resource/uniqueKey.png"
            categoryIcon_16x16="resource/uniqueKey.png"
            categoryLabel="%elementType.uk.categoryLabel"
            description="%elementType.uk.description"
            icon="resource/uniqueKey.png"
            icon_16x16="resource/uniqueKey.png"
            name="%elementType.uk.name"
            parentTypeId="TABLE"
            typeInterface="com.nextep.datadesigner.dbgm.model.IKeyConstraint">
      </elementType>
      <elementType
            Id="DATASET"
            categoryIcon="resource/DataSetIconTiny.png"
            categoryIcon_16x16="resource/DataSetIconTiny.png"
            categoryLabel="%elementType.datasets.categoryLabel"
            description="%elementType.datasets.description"
            icon="resource/DataSetIconTiny.png"
            icon_16x16="resource/DataSetIconTiny.png"
            name="%elementType.datasets.name"
            parentTypeId="TABLE"
            typeInterface="com.nextep.designer.dbgm.model.IDataSet">
      </elementType>
      <elementType
            Id="DATALINE"
            categoryIcon="resource/DataLineSmall.ico"
            categoryLabel="%elementType.datalines.categoryLabel"
            description="%elementType.datalines.description"
            icon="resource/DataLineSmall.ico"
            name="%elementType.datalines.name"
            parentTypeId="DATASET"
            typeInterface="com.nextep.designer.dbgm.model.IDataLine">
      </elementType>
      <elementType
            Id="SEQUENCE"
            categoryIcon="resource/SequenceSmall.ico"
            categoryIcon_16x16="resource/SequenceTiny.ico"
            categoryLabel="%elementType.sequence.categoryLabel"
            icon="resource/SequenceSmall.ico"
            icon_16x16="resource/SequenceTiny.ico"
            name="%elementType.sequence.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.ISequence">
      </elementType>
      <elementType
            Id="INDEX"
            categoryIcon="resource/IndexSmall.ico"
            categoryIcon_16x16="resource/IndexTiny.ico"
            categoryLabel="%elementType.index.categoryLabel"
            icon="resource/IndexSmall.ico"
            icon_16x16="resource/IndexTiny.ico"
            name="%elementType.index.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.IIndex">
      </elementType>
      <elementType
            Id="USER_TYPE"
            categoryIcon="resource/UserTypeSmall.ico"
            categoryIcon_16x16="resource/UserTypeTiny.ico"
            categoryLabel="%elementType.usertype.categoryLabel"
            description="%elementType.usertype.description"
            icon="resource/UserTypeSmall.ico"
            icon_16x16="resource/UserTypeTiny.ico"
            name="%elementType.usertype.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.IUserType">
      </elementType>
      <elementType
            Id="TYPE_COLUMN"
            categoryLabel="%elementType.typeCol.categoryLabel"
            name="%elementType.typeCol.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.ITypeColumn">
      </elementType>
      <elementType
            Id="SQL_VIEW"
            categoryIcon="resource/ViewSmall.ico"
            categoryIcon_16x16="resource/ViewTiny.ico"
            categoryLabel="%elementType.view.categoryLabel"
            description="%elementType.view.description"
            icon="resource/ViewSmall.ico"
            icon_16x16="resource/ViewTiny.ico"
            name="%elementType.view.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.IView">
      </elementType>
      <elementType
            Id="COLUMN_VALUE"
            categoryLabel="%elementType.columnVal.categoryLabel"
            name="%elementType.columnVal.name"
            typeInterface="com.nextep.designer.dbgm.model.IColumnValue">
      </elementType>
      <elementType
            Id="TRIGGER"
            categoryIcon="resource/TriggerSmall.ico"
            categoryIcon_16x16="resource/TriggerTiny.ico"
            categoryLabel="%elementType.trigger.categoryLabel"
            icon="resource/TriggerSmall.ico"
            icon_16x16="resource/TriggerTiny.ico"
            name="%elementType.trigger.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.ITrigger">
      </elementType>
      <elementType
            Id="PROCEDURE"
            categoryIcon="resource/ProcedureSmall.ico"
            categoryIcon_16x16="resource/ProcedureTiny.ico"
            categoryLabel="%elementType.proc.categoryLabel"
            description="%elementType.proc.description"
            icon="resource/ProcedureSmall.ico"
            icon_16x16="resource/ProcedureTiny.ico"
            name="%elementType.proc.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.IProcedure">
      </elementType>
      <elementType
            Id="DOMAIN"
            categoryIcon="resource/UserTypeSmall.ico"
            categoryIcon_16x16="resource/UserTypeTiny.ico"
            categoryLabel="%elementType.domain.categoryLabel"
            description="%elementType.domain.description"
            icon="resource/UserTypeSmall.ico"
            icon_16x16="resource/UserTypeTiny.ico"
            name="%elementType.domain.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.IDomain">
      </elementType>
      <elementType
            Id="VENDOR_TYPE"
            categoryIcon="resource/UserTypeSmall.ico"
            categoryIcon_16x16="resource/UserTypeTiny.ico"
            categoryLabel="%elementType.vendorType.categoryLabel"
            icon="resource/UserTypeSmall.ico"
            icon_16x16="resource/UserTypeTiny.ico"
            name="%elementType.vendorType.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.IDomainVendorType">
      </elementType>
      <elementType
            Id="SYNONYM"
            categoryIcon="resource/SynonymIconSmall.ico"
            categoryIcon_16x16="resource/SynonymIconTiny.ico"
            categoryLabel="%elementType.synonym.categoryLabel"
            icon="resource/SynonymIconSmall.ico"
            icon_16x16="resource/SynonymIconTiny.ico"
            name="%elementType.synonym.name"
            typeInterface="com.nextep.datadesigner.dbgm.model.ISynonym">
      </elementType>
      <elementType
            Id="TAB_PHYSPROPS"
            categoryIcon="resource/TablespaceSmall.ico"
            categoryIcon_16x16="resource/TablespaceTiny.ico"
            categoryLabel="%elementType.physProps.categoryLabel"
            icon="resource/TablespaceSmall.ico"
            icon_16x16="resource/TablespaceTiny.ico"
            name="%elementType.physProps.name"
            typeInterface="com.nextep.designer.dbgm.model.ITablePhysicalProperties">
      </elementType>
      <elementType
            Id="IND_PHYSPROPS"
            categoryIcon="resource/TablespaceSmall.ico"
            categoryIcon_16x16="resource/TablespaceTiny.ico"
            categoryLabel="%elementType.physProps.categoryLabel"
            icon="resource/TablespaceSmall.ico"
            icon_16x16="resource/TablespaceTiny.ico" 
            name="%elementType.physProps.name"
            typeInterface="com.nextep.designer.dbgm.model.IPhysicalProperties">
      </elementType>   
      <elementType
            Id="TAB_PARTITION"
            categoryIcon="resource/TablePartitionSmall.ico"
            categoryIcon_16x16="resource/TablePartitionTiny.ico"
            categoryLabel="%elementType.tabPartition.categoryLabel"
            description="%elementType.tabPartition.description"
            icon="resource/TablePartitionSmall.ico"
            icon_16x16="resource/TablePartitionTiny.ico"
            name="%elementType.tabPartition.name"
            typeInterface="com.nextep.designer.dbgm.model.ITablePartition">
      </elementType>   
      <elementType
            Id="IND_PARTITION"
            categoryIcon="resource/IndexPartitionSmall.ico"
            categoryIcon_16x16="resource/IndexPartitionTiny.ico"
            categoryLabel="%elementType.indPartition.categoryLabel"
            description="%elementType.indPartition.description"
            icon="resource/IndexPartitionSmall.ico"
            icon_16x16="resource/IndexPartitionTiny.ico"
            name="%elementType.indPartition.name"
            typeInterface="com.nextep.designer.dbgm.model.IIndexPartition">
      </elementType>
      <elementType
            Id="CHECK"
            categoryIcon="resource/CheckSmall.ico"
            categoryIcon_16x16="resource/CheckTiny.ico"
            categoryLabel="%elementType.checkConstraint.categoryLabel"
            description="%elementType.checkConstraint.description"
            icon="resource/CheckSmall.ico"
            icon_16x16="resource/CheckTiny.ico"
            name="%elementType.checkConstraint.name"
            typeInterface="com.nextep.designer.dbgm.model.ICheckConstraint">
      </elementType>
      <controller
            class="com.nextep.designer.dbgm.controllers.TableController"
            typeId="TABLE">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.ColumnController"
            typeId="COLUMN">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.ForeignKeyController"
            typeId="FOREIGN_KEY">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.DatasetController"
            typeId="DATASET">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.DatalineController"
            typeId="DATALINE">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.IndexController"
            typeId="INDEX">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.TypeColumnController"
            typeId="TYPE_COLUMN">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.TriggerController"
            typeId="TRIGGER">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.DiagramController"
            typeId="DIAGRAM">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.UniqueKeyController"
            typeId="UNIQUE_KEY">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.DiagramController"
            typeId="DIAGRAM_ITEM">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.PhysicalPropertiesController"
            typeId="TAB_PHYSPROPS">
      </controller>
      <controller
            class="com.nextep.designer.dbgm.controllers.PhysicalPropertiesController"
            typeId="IND_PHYSPROPS">
      </controller>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.MergerProvider">
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.TableMerger"
            typeId="TABLE">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.ColumnMerger"
            typeId="COLUMN">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.KeyMerger"
            typeId="UNIQUE_KEY">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.KeyMerger"
            typeId="FOREIGN_KEY">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.SequenceMerger"
            typeId="SEQUENCE">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.IndexMerger"
            typeId="INDEX">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.UserTypeMerger"
            typeId="USER_TYPE">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.TypeColumnMerger"
            typeId="TYPE_COLUMN">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.ViewMerger"
            typeId="SQL_VIEW">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.DataLineMerger"
            typeId="DATALINE">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.ColumnValueMerger"
            typeId="COLUMN_VALUE">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.DataSetMerger"
            typeId="DATASET">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.TriggerMerger"
            typeId="TRIGGER">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.SynonymMerger"
            typeId="SYNONYM">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.PhysicalPropertiesMerger"
            typeId="TAB_PHYSPROPS">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.designer.dbgm.mergers.PhysicalPropertiesMerger"
            typeId="IND_PHYSPROPS">
      </mergerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.viewLinker">
      <viewLinker
            class="com.nextep.datadesigner.dbgm.services.DBGMLinker"
            name="Database Generic Model Linker">
      </viewLinker>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nextep.designer.dbgm.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.namingVariableProvider">
      <namingVariableProvide
            class="com.nextep.datadesigner.dbgm.providers.FKRemoteShortNameProvider">
      </namingVariableProvide>
      <namingVariableProvide
            class="com.nextep.datadesigner.dbgm.providers.FKShortNameProvider">
      </namingVariableProvide>
      <namingVariableProvide
            class="com.nextep.datadesigner.dbgm.providers.TableShortNameProvider">
      </namingVariableProvide>
   </extension>
   <extension
         point="com.neXtep.designer.core.factories">
       <factory
            class="com.nextep.designer.dbgm.factories.BasicColumnFactory"
            typeId="COLUMN">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.factories.UniqueKeyConstraintFactory"
            typeId="UNIQUE_KEY">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.factories.ForeignKeyConstraintFactory"
            typeId="FOREIGN_KEY">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.factories.DataLineFactory"
            typeId="DATALINE">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.factories.ColumnValueFactory"
            typeId="COLUMN_VALUE">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.factories.TablePhysicalPropertiesFactory"
            typeId="TAB_PHYSPROPS">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.factories.IndexPhysicalPropertiesFactory"
            typeId="IND_PHYSPROPS">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.factories.CheckConstraintFactory"
            typeId="CHECK">
      </factory>
   </extension>
   <extension
         point="com.neXtep.designer.core.dbConnector">
      <dbConnector
            class="com.nextep.designer.dbgm.connectors.LocalDatabaseConnector"
            dbVendor="DERBY">
      </dbConnector>
   </extension>
   <extension
         point="com.neXtep.designer.core.persistenceFile">
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/VersionedTableMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/BasicColumnMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/IKeyConstraintMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/UniqueConstraintMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/ForeignConstraintMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/DataSetMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/DataLineMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/SequenceMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/IndexMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/DomainMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/DomainVendorTypeMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/IPhysicalPropertiesMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/SynonymMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/UserTypeMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/TypeColumnMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/SQLViewMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/TriggerMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/dao/CheckConstraintMapping.hbm.xml">
      </persistenceFile>
   </extension>
   <extension
         point="com.neXtep.designer.core.markerProvider">
      <markerProvider
            class="com.nextep.designer.dbgm.markers.PrimaryKeyMarkerProvider"
            typeId="UNIQUE_KEY">
      </markerProvider>
   </extension>

</plugin>
