<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.neXtep.designer.sqlgen.sqlCapturer">
      <sqlCapturer
            class="com.nextep.designer.sqlgen.mysql.impl.MySqlCapturer"
            databaseVendor="MYSQL">
      </sqlCapturer>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlGenerator">
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mysql.generator.MySQLTableGenerator"
            databaseVendor="MYSQL"
            typeId="TABLE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mysql.generator.MySQLColumnGenerator"
            databaseVendor="MYSQL"
            typeId="COLUMN">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mysql.generator.MySQLConstraintGenerator"
            databaseVendor="MYSQL"
            typeId="UNIQUE_KEY">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mysql.generator.MySQLConstraintGenerator"
            databaseVendor="MYSQL"
            typeId="FOREIGN_KEY">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mysql.generator.MySQLIndexGenerator"
            databaseVendor="MYSQL"
            typeId="INDEX">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mysql.generator.MySQLViewGenerator"
            databaseVendor="MYSQL"
            typeId="SQL_VIEW">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mysql.generator.MySQLTriggerGenerator"
            databaseVendor="MYSQL"
            typeId="TRIGGER">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mysql.generator.MySQLProcedureGenerator"
            databaseVendor="MYSQL"
            typeId="PROCEDURE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mysql.generator.MySQLDatasetGenerator"
            databaseVendor="MYSQL"
            typeId="DATASET">
      </sqlGenerator>
   </extension>
   <extension
         point="com.neXtep.designer.core.dbConnector">
      <dbConnector
            class="com.nextep.designer.sqlgen.mysql.impl.MySQLDatabaseConnector"
            dbVendor="MYSQL">
      </dbConnector>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlParser">
      <sqlParser
            class="com.nextep.designer.sqlgen.mysql.parser.MySQLParser"
            databaseVendor="MYSQL">
      </sqlParser>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.dropStrategy">
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            databaseVendor="MYSQL"
            default="true"
            typeId="PACKAGE">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.designer.sqlgen.mysql.strategies.ColumnNoDropStrategy"
            databaseVendor="MYSQL"
            default="false"
            typeId="COLUMN">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.designer.sqlgen.mysql.strategies.MySqlUniqueKeyGenerateDropsStrategy"
            databaseVendor="MYSQL"
            default="true"
            typeId="UNIQUE_KEY">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.TableGenerateDrops"
            databaseVendor="MYSQL"
            typeId="TABLE">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.designer.sqlgen.mysql.strategies.IndexGenerateFKDropsStrategy"
            databaseVendor="MYSQL"
            default="true"
            typeId="INDEX">
      </dropStrategy>
   </extension>
   <extension
         point="com.neXtep.designer.dbgm.datatypeProvider">
      <datatypeProvider
            class="com.nextep.designer.sqlgen.mysql.parser.MySQLParser"
            dbVendor="MYSQL">
      </datatypeProvider>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.MergerProvider">
      <mergerProvider
            context="MYSQL"
            mergerClass="com.nextep.designer.sqlgen.mysql.merger.MySQLProcedureMerger"
            typeId="PROCEDURE">
      </mergerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlSubmitter">
      <sqlSubmitter
            class="com.nextep.designer.sqlgen.mysql.impl.MySQLSubmitter"
            vendor="MYSQL">
      </sqlSubmitter>
   </extension>
   <extension
         point="com.neXtep.designer.core.markerProvider">
      <markerProvider
            class="com.nextep.designer.sqlgen.mysql.impl.MySQLErrorsMarkerProvider"
            context="MYSQL">
      </markerProvider>
   </extension>

</plugin>
