<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="sqlGenerator" name="SQLGenerator" schema="schema/sqlGenerator.exsd"/>
   <extension-point id="sqlCapturer" name="SQLCapturer" schema="schema/sqlCapturer.exsd"/>
   <extension-point id="sqlParser" name="SQLParser" schema="schema/sqlParser.exsd"/>
   <extension-point id="dropStrategy" name="DropStrategy" schema="schema/dropStrategy.exsd"/>
   <extension-point id="sqlSubmitter" name="SQLSubmitter" schema="schema/sqlSubmitter.exsd"/>
   <extension
         point="com.neXtep.designer.core.elementType">
      <elementType
            Id="SQL_SCRIPT"
            categoryIcon="resource/SQLScriptIconSmall.ico"
            categoryIcon_16x16="resource/SQLScriptIconTiny.ico"
            categoryLabel="%elementType.script.categoryLabel"
            description="%elementType.script.description"
            icon="resource/SQLScriptIconSmall.ico"
            icon_16x16="resource/SQLScriptIconTiny.ico"
            name="%elementType.script.name"
            parentTypeId="CONTAINER"
            typeInterface="com.nextep.datadesigner.sqlgen.model.ISQLScript">
      </elementType>
      <elementType
            Id="SELECT"
            categoryLabel="%elementType.select.categoryLabel"
            description="%elementType.select.description"
            name="%elementType.select.name"
            typeInterface="com.nextep.designer.dbgm.sql.ISelectStatement">
      </elementType>
      <controller
            class="com.nextep.designer.sqlgen.controllers.PackageController"
            typeId="PACKAGE">
      </controller>
      <controller
            class="com.nextep.designer.sqlgen.controllers.SQLScriptController"
            typeId="SQL_SCRIPT">
      </controller>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.VersionableFactory">
      <versionableFactory
            class="com.nextep.datadesigner.sqlgen.impl.SQLScriptFactory"
            name="SQLScript Factory"
            versionableInterfaceName="com.nextep.datadesigner.sqlgen.model.ISQLScript">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.datadesigner.sqlgen.impl.ProcedureFactory"
            name="Procedure Factory"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IProcedure">
      </versionableFactory>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlGenerator">
      <sqlGenerator
            class="com.nextep.datadesigner.sqlgen.impl.ContainerGenerator"
            typeId="CONTAINER">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.datadesigner.sqlgen.impl.generator.DataLineGenerator"
            typeId="DATALINE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.datadesigner.sqlgen.impl.SQLScriptGenerator"
            typeId="SQL_SCRIPT">
      </sqlGenerator>
      <sqlScriptBuilder
            class="com.nextep.designer.sqlgen.model.impl.DefaultSqlScriptBuilder">
      </sqlScriptBuilder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nextep.designer.sqlgen.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.MergerProvider">
      <mergerProvider
            mergerClass="com.nextep.datadesigner.sqlgen.impl.merge.PackageMerger"
            typeId="PACKAGE">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.datadesigner.sqlgen.impl.merge.ProcedureMerger"
            typeId="PROCEDURE">
      </mergerProvider>
      <mergerProvider
            mergerClass="com.nextep.datadesigner.sqlgen.impl.merge.SQLScriptMerger"
            typeId="SQL_SCRIPT">
      </mergerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.core.command">
      <command
            class="com.nextep.datadesigner.sqlgen.impl.commands.TargetDiffCommand"
            name="targetDiff">
      </command>
      <command
            class="com.nextep.datadesigner.sqlgen.impl.commands.RegisterConnectionCommand"
            name="registerConnection">
      </command>
      <command
            class="com.nextep.datadesigner.sqlgen.impl.commands.SuggestDropCommand"
            name="suggestDrop">
      </command>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.dropStrategy">
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DeleteDropStrategy"
            default="true"
            typeId="DATALINE">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            default="true"
            typeId="TABLE">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            default="true"
            typeId="TRIGGER">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            default="true"
            typeId="PROCEDURE">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            default="true"
            typeId="SQL_VIEW">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            default="true"
            typeId="COLUMN">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            default="true"
            typeId="FOREIGN_KEY">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            default="true"
            typeId="SEQUENCE">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            default="true"
            typeId="INDEX">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.TableGenerateDrops"
            typeId="TABLE">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            default="false"
            typeId="UNIQUE_KEY">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.UniqueKeyGenerateDropsStrategy"
            default="true"
            typeId="UNIQUE_KEY">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DeleteDropStrategy"
            default="true"
            typeId="DATASET">
      </dropStrategy>
   </extension>
   <extension
         point="com.neXtep.designer.core.markerProvider">
      <markerProvider
            class="com.nextep.datadesigner.sqlgen.impl.DBErrorsMarkerProvider"
            context="ORACLE">
      </markerProvider>
      <markerProvider
            class="com.nextep.datadesigner.sqlgen.impl.SubmitErrorsMarkerProvider">
      </markerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.dbgm.sqlTypedParser">
      <sqlTypedParser
            class="com.nextep.designer.sqlgen.parsers.SelectParser"
            typeId="SELECT">
      </sqlTypedParser>
      <sqlTypedParser
            class="com.nextep.designer.sqlgen.parsers.ProcedureParser"
            typeId="PROCEDURE">
      </sqlTypedParser>
      <sqlTypedParser
            class="com.nextep.designer.sqlgen.parsers.TriggerParser"
            typeId="TRIGGER">
      </sqlTypedParser>
   </extension>
   <extension
         point="com.neXtep.designer.core.factories">
      <factory
            class="com.nextep.designer.sqlgen.factories.SQLScriptFactory"
            typeId="SQL_SCRIPT">
      </factory>
   </extension>
   <extension
         point="com.neXtep.designer.core.persistenceFile">
      <persistenceFile
            file="src/com/nextep/designer/sqlgen/dao/ISQLScriptMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/sqlgen/dao/SQLScriptMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/sqlgen/dao/VersionedSQLScriptMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/sqlgen/dao/SynchronizationFilterMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/sqlgen/dao/SQLScriptWrapperMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/sqlgen/dao/VersionedProcedureMapping.hbm.xml">
      </persistenceFile>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlParser">
      <sqlParser
            class="com.nextep.designer.sqlgen.parsers.DerbySqlParser"
            databaseVendor="DERBY">
      </sqlParser>
   </extension>

</plugin>
