<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.neXtep.designer.vcs.MergerProvider">
      <mergerProvider
            context="POSTGRE"
            mergerClass="com.nextep.designer.dbgm.postgre.mergers.PostgreSequenceMerger"
            typeId="SEQUENCE">
      </mergerProvider>
      <mergerProvider
            context="POSTGRE"
            mergerClass="com.nextep.designer.dbgm.postgre.mergers.PostgreSqlTableMerger"
            typeId="TABLE">
      </mergerProvider>
   </extension>
   <extension
         point="com.neXtep.designer.dbgm.sqlTypedParser">
      <sqlTypedParser
            class="com.nextep.designer.dbgm.postgre.parser.PostgreSqlProcedureParser"
            typeId="PROCEDURE"
            vendor="POSTGRE">
      </sqlTypedParser>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.VersionableFactory">
      <versionableFactory
            class="com.nextep.designer.dbgm.postgre.factories.PostgreSqlTableFactory"
            name="PostgreSql table"
            vendor="POSTGRE"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IBasicTable">
      </versionableFactory>
      <versionableFactory
            class="com.nextep.designer.dbgm.postgre.factories.PostgreSqlIndexFactory"
            name="PostgreSql index"
            vendor="POSTGRE"
            versionableInterfaceName="com.nextep.datadesigner.dbgm.model.IIndex">
      </versionableFactory>
   </extension>
   <extension
         point="com.neXtep.designer.core.persistenceFile">
      <persistenceFile
            file="src/com/nextep/designer/dbgm/postgre/dao/PostgreTableMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/postgre/dao/PostgreIndexMapping.hbm.xml">
      </persistenceFile>
      <persistenceFile
            file="src/com/nextep/designer/dbgm/postgre/dao/PostgreUniqueKeyMapping.hbm.xml">
      </persistenceFile>
   </extension>
   <extension
         point="com.neXtep.designer.core.factories">
      <factory
            class="com.nextep.designer.dbgm.postgre.factories.PostgreSqlUniqueConstraintFactory"
            context="POSTGRE"
            typeId="UNIQUE_KEY">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.postgre.factories.PostgreSqlInheritedTableFactory"
            typeId="INHERITED_TABLE">
      </factory>
   </extension>
   <extension
         point="com.neXtep.designer.core.elementType">
      <elementType
            Id="INHERITED_TABLE"
            categoryIcon="resources/ClusterSmallCube.ico"
            categoryIcon_16x16="resources/ClusterSmallCube.ico"
            categoryLabel="%elementType.categoryLabel"
            description="%elementType.description"
            icon="resources/ClusterSmallCube.ico"
            icon_16x16="resources/ClusterSmallCube.ico"
            name="%elementType.name"
            typeInterface="com.nextep.designer.dbgm.postgre.model.IPostgreSqlInheritedTable">
      </elementType>
   </extension>

</plugin>
