<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.neXtep.designer.ui"
            class="com.nextep.designer.synch.ui.navigators.ComparisonNavigator"
            icon="resource/syncdbtiny.gif"
            id="com.neXtep.designer.synch.ui.SynchronizationView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.nextep.designer.synch.ui.handlers.SynchronizeHandler"
            id="com.neXtep.designer.synch.ui.synchToDb"
            name="%command.synchronize">
      </command>
      <command
            id="com.neXtep.designer.synch.ui.generateScript"
            name="%command.generateScript">
      </command>
      <command
            defaultHandler="com.nextep.designer.synch.ui.handlers.ChangeSynchronizationModeHandler"
            id="com.neXtep.designer.synch.ui.synchMode"
            name="%command.synchMode">
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="DATABASE">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="isCurrent"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.synch.ui.handlers.IncludeComparisonItemHandler"
            id="com.neXtep.designer.synch.ui.include"
            name="%command.include">
      </command>
      <command
            defaultHandler="com.nextep.designer.synch.ui.handlers.ExcludeComparisonItemHandler"
            id="com.neXtep.designer.synch.ui.exclude"
            name="%command.exclude">
      </command>
      <command
            defaultHandler="com.nextep.designer.synch.ui.handlers.RunSynchronizationHandler"
            id="com.neXtep.designer.synch.ui.run"
            name="%command.submit">
      </command>
      <command
            defaultHandler="com.nextep.designer.synch.ui.handlers.ToggleShowUnchangedHandler"
            id="com.neXtep.designer.synch.ui.toggleShowUnchangedFilter"
            name="%command.toggleShowUnchanged">
      </command>
      <command
            defaultHandler="com.nextep.designer.synch.ui.handlers.ToggleDependencySelectionHandler"
            id="com.neXtep.designer.synch.ui.toggleDependencies"
            name="%command.toggleDependencies">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="com.nextep.designer.synch.ui.handlers.DataSynchronizationHandler"
            id="com.neXtep.designer.synch.ui.dataSynch"
            name="%command.dataSynchronize">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=version">
         <toolbar
               id="com.neXtep.designer.synch.ui">
            <command
                  commandId="com.neXtep.designer.synch.ui.synchToDb"
                  icon="resource/syncDbSmall.png"
                  style="push"
                  tooltip="%command.tooltip">
            </command>
            <command
                  commandId="com.neXtep.designer.synch.ui.dataSynch"
                  icon="resource/synchDataSmall.png"
                  style="push"
                  tooltip="%command.dataSynchronize">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.neXtep.designer.synch.ui.SynchronizationView">
		 <separator
               name="com.neXtep.designer.synch.ui.synchModeGroup"
               visible="true">
         </separator>
         <command
               commandId="com.neXtep.designer.synch.ui.synchMode"
               icon="resource/synchroMode.gif"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="DATABASE">
            </parameter>
         </command>
         <command
               commandId="com.neXtep.designer.synch.ui.synchMode"
               icon="resource/synchroMode-reverse.gif"
               label="%command.synchModeReverse"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="DB_TO_REPOSITORY">
            </parameter>
         </command>
         <separator
               name="com.neXtep.designer.synch.ui.displayGroup"
               visible="true">
         </separator>
         <command
               commandId="com.neXtep.designer.synch.ui.toggleDependencies"
               icon="resource/call_hierarchy.gif"
               style="toggle">
         </command>

         <command
               commandId="com.neXtep.designer.synch.ui.toggleShowUnchangedFilter"
               icon="resource/differ_filter.png"
               style="toggle">
         </command>
         <dynamic
               class="com.nextep.designer.synch.ui.controls.SynchSelectionControl"
               id="com.neXtep.designer.synch.ui.selectAll">
         </dynamic>
         <dynamic
               class="com.nextep.designer.vcs.ui.compare.ComparisonEditorProvidersItems"
               id="com.neXtep.designer.synch.ui.compare.type">
         </dynamic>
         <separator
               name="com.neXtep.designer.synch.ui.generationGroup"
               visible="true">
         </separator>
         <command
               commandId="com.neXtep.designer.synch.ui.generateScript"
               icon="resource/generateScriptTiny.png"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.synch.ui.run"
               icon="resource/executeSynchTiny.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=synch.inclusions">
         <command
               commandId="com.neXtep.designer.synch.ui.include"
               icon="resource/selectAll.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.nextep.designer.vcs.model.IComparisonItem">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.synch.ui.exclude"
               icon="resource/unselectAll.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.nextep.designer.vcs.model.IComparisonItem">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=actions">
         <command
               commandId="com.neXtep.designer.synch.ui.synchToDb"
               icon="resource/syncdbtiny.gif"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="com.nextep.designer.core.model.IConnection">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            helpContext="com.neXtep.designer.synch.ui.SynchView"
            viewerId="com.neXtep.designer.synch.ui.SynchronizationView">
         <popupMenu
               allowsPlatformContributions="true"
               id="com.neXtep.designer.synch.ui.synchMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="synch.inclusions"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.neXtep.designer.synch.ui.SynchronizationView">
         <includes>
            <contentExtension
                  pattern="com.neXtep.designer.synch.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.neXtep.designer.synch.ui.SynchronizationView">
         <includes>
            <actionExtension
                  pattern="com.neXtep.designer.synch.ui.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.nextep.designer.synch.ui.jface.ComparisonTypedTreeContentProvider"
            id="com.neXtep.designer.synch.ui.comparisonContent"
            labelProvider="com.nextep.designer.synch.ui.jface.ComparisonLabelProvider"
            name="%comparisonNavigatorContent">
         <triggerPoints>
            <instanceof
                  value="com.nextep.designer.synch.ui.navigators.ComparisonNavigatorRoot">
            </instanceof>
         </triggerPoints>
         <commonSorter
               class="com.nextep.designer.synch.ui.jface.ComparisonItemSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            contentProvider="com.nextep.designer.synch.ui.jface.ComparisonItemContentProvider"
            id="com.neXtep.designer.synch.ui.comparisonItemContent"
            labelProvider="com.nextep.designer.synch.ui.jface.ComparisonLabelProvider"
            name="%comparisonItemContent">
         <triggerPoints>
            <instanceof
                  value="com.nextep.designer.vcs.model.IComparisonItem">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="com.nextep.designer.synch.ui.navigators.ComparisonActionProvider"
            id="com.neXtep.designer.synch.ui.ComparisonActionProviderTer">
         <enablement>
            <instanceof
                  value="com.nextep.designer.vcs.model.IComparisonItem">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.nextep.designer.synch.ui.perpectives.SynchronizationPerspective"
            icon="resource/syncdbtiny.gif"
            id="com.neXtep.designer.synch.ui.perspectiveSynchDb"
            name="%perpective.synchDb.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.nextep.designer.synch.ui.handlers.GenerateScriptHandler"
            commandId="com.neXtep.designer.synch.ui.generateScript">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.nextep.designer.synch.ui.handlers.SynchronizationScopePropertyTester"
            id="com.neXtep.designer.synch.ui.getScope"
            namespace="com.neXtep.designer.synch.ui.scope"
            properties="DATABASE,DB_TO_REPOSITORY"
            type="com.nextep.designer.synch.model.ISynchronizationResult">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.nextep.designer.synch.ui.navigators.ComparisonNavigator"
            class="com.nextep.designer.synch.ui.adapters.SynchronizationResultAdapterFactory">
         <adapter
               type="com.nextep.designer.synch.model.ISynchronizationResult">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.neXtep.designer.synch.ui.SynchModeRepoToDb">
         <with
               variable="activePart">
            <adapt
                  type="com.nextep.designer.synch.model.ISynchronizationResult">
               <test
                     property="com.neXtep.designer.synch.ui.scope.DATABASE"
                     value="true">
               </test>
            </adapt>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="com.nextep.designer.synch.ui.services.impl.SynchUIServiceFactory">
         <service
               serviceClass="com.nextep.designer.synch.ui.services.ISynchronizationUIService"></service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nextep.designer.synch.ui.preferences.PreferenceInitializer">
      </initializer>
      <page
            category="com.nextep.designer.core.preferences.CorePreferencePage"
            class="com.nextep.designer.synch.ui.preferences.SynchronizationPreferencePage"
            id="com.nextep.designer.synch.ui.preferences.SynchronizationPreferencePage"
            name="%preferences.synch.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.nextep.designer.core.preferences.CorePreferencePage"
            class="com.nextep.designer.synch.ui.preferences.SynchronizationPreferencePage"
            id="com.nextep.designer.synch.ui.preferences.SynchronizationPreferencePage"
            name="%preferences.synch.name">
      </page>
      <page
            category="com.nextep.designer.synch.ui.preferences.SynchronizationPreferencePage"
            class="com.nextep.designer.synch.ui.preferences.SynchronizationDbgmPreferencePage"
            id="com.neXtep.designer.synch.ui.preferences.SynchronizationDbgmPage"
            name="%preferences.synch.dbgm.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.nextep.designer.synch.ui.decorators.DataSynchronizationDecorator"
            icon="resource/datasync-deco.png"
            id="com.neXtep.designer.synch.ui.dataSyncDecorator"
            label="Data synchronization"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectClass
                  name="com.nextep.datadesigner.dbgm.model.IBasicTable">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
