<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.neXtep.designer.core.dbConnector">
      <dbConnector
            class="com.nextep.designer.sqlgen.mssql.impl.MSSQLDatabaseConnector"
            dbVendor="MSSQL">
      </dbConnector>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlCapturer">
      <sqlCapturer
            class="com.nextep.designer.sqlgen.mssql.impl.MSSQLCapturer"
            databaseVendor="MSSQL">
      </sqlCapturer>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlParser">
      <sqlParser
            class="com.nextep.designer.sqlgen.mssql.parser.MSSQLParser"
            databaseVendor="MSSQL">
      </sqlParser>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlGenerator">
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mssql.generator.MSSQLTableGenerator"
            databaseVendor="MSSQL"
            typeId="TABLE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mssql.generator.MSSQLColumnGenerator"
            databaseVendor="MSSQL"
            typeId="COLUMN">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mssql.generator.MSSQLIndexGenerator"
            databaseVendor="MSSQL"
            typeId="INDEX">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mssql.generator.MSSQLViewGenerator"
            databaseVendor="MSSQL"
            typeId="SQL_VIEW">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mssql.generator.MSSQLTriggerGenerator"
            databaseVendor="MSSQL"
            typeId="TRIGGER">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mssql.generator.MSSQLUserTypeGenerator"
            databaseVendor="MSSQL"
            typeId="USER_TYPE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mssql.generator.MSSQLProcedureGenerator"
            databaseVendor="MSSQL"
            typeId="PROCEDURE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.mssql.generator.MSSQLSequenceGenerator"
            databaseVendor="MSSQL"
            typeId="SEQUENCE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.generic.generator.SynonymGenerator"
            databaseVendor="MSSQL"
            typeId="SYNONYM">
      </sqlGenerator>
   </extension>
   <extension
         point="com.neXtep.designer.dbgm.datatypeProvider">
      <datatypeProvider
            class="com.nextep.designer.sqlgen.mssql.parser.MSSQLParser"
            dbVendor="MSSQL">
      </datatypeProvider>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.dropStrategy">
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.UserTypeDropStrategy"
            databaseVendor="MSSQL"
            typeId="USER_TYPE">
      </dropStrategy>
   </extension>

</plugin>
