<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.neXtep.designer.ui.typeController">
      <typeController
            class="com.nextep.datadesigner.beng.ctrl.DeliveryController"
            typeId="DELIVERY_MODULE">
      </typeController>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.neXtep.designer.beng.ui.export"
               icon="resource/export_wiz.gif">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.nextep.designer.beng.model.IDeliveryModule">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.beng.ui.removeDeliveryItem"
               icon="resource/DeleteIconTiny.ico"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="com.nextep.designer.beng.model.IDeliveryItem">
                     </instanceof>
                     <not>
                        <instanceof
                              value="com.nextep.designer.beng.model.IDeliveryModule">
                        </instanceof>
                     </not>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.neXtep.designer.ui.toolbar.actions?after=additions">
         <command
               commandId="com.neXtep.designer.beng.ui.newDelivery"
               icon="resource/DeliveryIconSmall.ico">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="DELIVERY_MODULE">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=version">
         <command
               commandId="com.neXtep.designer.beng.ui.newDelivery"
               icon="resource/DeliveryIconTiny.ico">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="DELIVERY_MODULE">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="com.nextep.designer.vcs.model.IVersionContainer">
                        </instanceof>
                        <and>
                           <instanceof
                                 value="com.nextep.datadesigner.model.IElementType">
                           </instanceof>
                           <equals
                                 value="DELIVERY_MODULE">
                           </equals>
                        </and>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.nextep.designer.beng.ui.views.DeliveriesView">
         <command
               commandId="com.neXtep.designer.beng.ui.refreshDeliveries"
               icon="resource/refresh.gif"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.beng.ui.export"
               icon="resource/export_wiz.gif">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.neXtep.designer.additions?after=additions">
         <command
               commandId="com.neXtep.designer.beng.ui.newDeliveryScript"
               label="%command.newDeliveryScript"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.nextep.designer.beng.ui.model.DeliveryTypeItem">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.neXtep.designer.beng.ui.newDelivery"
            name="%command.packageAndDeliver">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            id="com.neXtep.designer.beng.ui.export"
            name="%command.exportDelivery">
      </command>
      <command
            defaultHandler="com.nextep.designer.beng.ui.handlers.RemoveDeliveryItemHandler"
            id="com.neXtep.designer.beng.ui.removeDeliveryItem"
            name="%command.removeDeliveryItem">
      </command>
      <command
            defaultHandler="com.nextep.designer.beng.ui.handlers.NewDeliveryItemHandler"
            id="com.neXtep.designer.beng.ui.newDeliveryScript"
            name="%command.createDeliveryScript">
      </command>
      <command
            defaultHandler="com.nextep.designer.beng.ui.handlers.RefreshDeliveriesHandler"
            id="com.neXtep.designer.beng.ui.refreshDeliveries"
            name="%command.refreshDeliveries">
      </command>
   </extension>
   <extension
         point="com.neXtep.designer.ui.typePersister">
      <typePersister
            class="com.nextep.datadesigner.beng.gui.DeliveryPersister"
            typeId="DELIVERY_MODULE">
      </typePersister>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.nextep.designer.beng.ui.views.DeliveriesView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.neXtep.designer.ui"
            class="com.nextep.designer.beng.ui.views.DeliveriesView"
            icon="resource/DeliveryIconTiny.ico"
            id="com.nextep.designer.beng.ui.views.DeliveriesView"
            name="%view.delivery.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.nextep.datadesigner.beng.gui.DeliveryPersister"
            id="com.neXtep.designer.beng.ui.deliveries">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.nextep.designer.beng.ui.handlers.NewDeliveryItemHandler"
            commandId="com.neXtep.designer.sqlgen.ui.newSQLScript">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="com.nextep.designer.beng.model.DeliveryType">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.nextep.designer.beng.ui.handlers.ExportDeliveryHandler"
            commandId="com.neXtep.designer.beng.ui.export">
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.nextep.designer.beng.model.IDeliveryModule">
                  </instanceof>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="com.nextep.designer.beng.ui.handlers.NewDeliveryHandler"
            commandId="com.neXtep.designer.beng.ui.newDelivery">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <and>
                        <instanceof
                              value="com.nextep.datadesigner.model.IElementType">
                        </instanceof>
                        <equals
                              value="DELIVERY_MODULE">
                        </equals>
                     </and>
                     <and>
                        <instanceof
                              value="com.nextep.designer.vcs.model.IVersionContainer">
                        </instanceof>
                        <instanceof
                              value="com.nextep.designer.vcs.model.IVersionable">
                        </instanceof>
                     </and>
                  </or>
               </iterate>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="com.neXtep.designer.core.command">
      <command
            class="com.nextep.designer.beng.ui.commands.CreateViewDeliveryWizardCommand"
            name="createViewDeliveryWizardPage">
      </command>
      <command
            class="com.nextep.designer.beng.ui.commands.FinishViewDeliveryWizardCommand"
            name="finishViewDeliveryWizard">
      </command>
   </extension>

</plugin>
