<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="typeController" name="TypeController" schema="schema/typeController.exsd"/>
   <extension-point id="typeAction" name="TypeAction" schema="schema/typeAction.exsd"/>
   <extension-point id="typePersister" name="TypePersister" schema="schema/typePersister.exsd"/>
   <extension-point id="editorContribution" name="EditorContribution" schema="schema/editorContribution.exsd"/>
   <extension-point id="typeUIComponent" name="TypeUIComponent" schema="schema/typeUIComponent.exsd"/>
   <extension-point id="typeEditorPage" name="TypeEditorPage" schema="schema/typeEditorPage.exsd"/>
   <extension-point id="editorTypedPageContribution" name="EditorTypedPageContribution" schema="schema/editorTypedPageContribution.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.neXtep.designer.ui"
            name="%category.name">
      </category>
      <view
            category="com.neXtep.designer.ui"
            class="com.nextep.designer.ui.views.PropertiesView"
            icon="resource/PropertyTinyl.ico"
            id="com.neXtep.designer.ui.properties"
            name="%view.properties.name">
      </view>
      <view
            category="com.neXtep.designer.ui"
            class="com.nextep.designer.ui.views.ProblemsView"
            icon="resource/problems_view.gif"
            id="com.neXtep.designer.ui.markersView"
            name="%view.problems.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.nextep.datadesigner.gui.impl.rcp.RCPConsoleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.neXtep.designer.ui.typeController">
      <typeController
            class="com.nextep.datadesigner.ctrl.UnknownController"
            typeId="UNKNOWN TYPE">
      </typeController>
      <typeController
            class="com.nextep.designer.ui.controllers.AttributeUIController"
            typeId="ATTRIBUTE">
      </typeController>
      <typeController
            class="com.nextep.designer.ui.controllers.ConnectionUIController"
            typeId="CONNECTION">
      </typeController>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.nextep.designer.ui.handlers.OpenViewHandler"
            id="com.neXtep.designer.ui.openView"
            name="%command.openView">
         <commandParameter
               id="com.neXtep.designer.ui.viewId"
               name="viewId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.ui.handlers.EditTypedItemHandler"
            id="com.neXtep.designer.ui.editTypedItem"
            name="%command.openEditor">
      </command>
      <command
            defaultHandler="com.nextep.designer.ui.handlers.RefreshMarkersHandler"
            id="com.neXtep.designer.ui.refreshMarkers"
            name="%command.refreshMarkers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.nextep.datadesigner.gui.impl.rcp.RCPTypedEditor"
            contributorClass="com.nextep.datadesigner.gui.impl.rcp.TypedEditorActionBarContributor"
            icon="resource/DesignerIconTiny.ico"
            id="com.neXtep.designer.ui.typedEditor"
            name="%editor.generic.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.nextep.designer.ui.preferences.CorePreferencePage"
            id="com.nextep.designer.core.preferences.CorePreferencePage"
            name="neXtep Designer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nextep.designer.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=editions">
         <command
               commandId="com.neXtep.designer.ui.editTypedItem"
               icon="resource/EditTiny.ico"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="com.nextep.datadesigner.model.ITypedObject">
                     </instanceof>
                     <not>
                        <instanceof
                              value="com.nextep.datadesigner.model.IReference">
                        </instanceof>
                     </not>
                     <not>
                        <test
                              property="com.neXtep.designer.ui.typeId"
                              value="TARGET_SET">
                        </test>
                     </not>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.neXtep.designer.ui.markersView">
         <command
               commandId="com.neXtep.designer.ui.refreshMarkers"
               icon="resource/refresh.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.nextep.datadesigner.gui.impl.rcp.LoggerConsole$LoggerConsoleFactory"
            icon="resource/neXtepConsole.ico"
            label="%console.nextep.name">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="com.nextep.datadesigner.gui.impl.rcp.ErrorPatternListener"
            id="com.neXtep.designer.ui.consoleErrorListener"
            regex="(.)*ERROR(.)*">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.nextep.designer.ui.testers.ElementTypePropertyTester"
            id="com.neXtep.designer.ui.typeTester"
            namespace="com.neXtep.designer.ui"
            properties="typeId"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
