<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.neXtep.designer.core.dbConnector">
      <dbConnector
            class="com.nextep.designer.sqlgen.postgre.impl.PostgreSqlDatabaseConnector"
            dbVendor="POSTGRE">
      </dbConnector>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlCapturer">
      <sqlCapturer
            class="com.nextep.designer.sqlgen.postgre.impl.PostgreSqlCapturer"
            databaseVendor="POSTGRE">
      </sqlCapturer>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlParser">
      <sqlParser
            class="com.nextep.designer.sqlgen.postgre.parser.PostGreSQLParser"
            databaseVendor="POSTGRE">
      </sqlParser>
   </extension>
   <extension
         point="com.neXtep.designer.dbgm.datatypeProvider">
      <datatypeProvider
            class="com.nextep.designer.sqlgen.postgre.parser.PostGreSQLParser"
            dbVendor="POSTGRE">
      </datatypeProvider>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlGenerator">
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreConstraintGenerator"
            databaseVendor="POSTGRE"
            typeId="UNIQUE_KEY">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreConstraintGenerator"
            databaseVendor="POSTGRE"
            typeId="FOREIGN_KEY">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreSequenceGenerator"
            databaseVendor="POSTGRE"
            typeId="SEQUENCE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreProcedureGenerator"
            databaseVendor="POSTGRE"
            typeId="PROCEDURE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostgreViewGenerator"
            databaseVendor="POSTGRE"
            typeId="SQL_VIEW">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreTriggerGenerator"
            databaseVendor="POSTGRE"
            typeId="TRIGGER">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreColumnGenerator"
            databaseVendor="POSTGRE"
            typeId="COLUMN">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostgreTableGenerator"
            databaseVendor="POSTGRE"
            typeId="TABLE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreTablePhysicalPropertiesGenerator"
            databaseVendor="POSTGRE"
            typeId="TAB_PHYSPROPS">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreIndexPhysicalPropertiesGenerator"
            databaseVendor="POSTGRE"
            typeId="IND_PHYSPROPS">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreIndexGenerator"
            databaseVendor="POSTGRE"
            typeId="INDEX">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.postgre.generator.PostGreCheckConstraintGenerator"
            databaseVendor="POSTGRE"
            typeId="CHECK">
      </sqlGenerator>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlSubmitter">
      <sqlSubmitter
            class="com.nextep.designer.sqlgen.postgre.impl.PostGreSQLSubmitter"
            vendor="POSTGRE">
      </sqlSubmitter>
   </extension>

</plugin>
