<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
   		 point="org.eclipse.ui.intro">
	   <intro
          class="org.eclipse.ui.intro.config.CustomizableIntroPart"
          contentDetector="com.nextep.designer.welcome.DesignerContentDetector"
          icon="resource/DesignerIconTiny.ico"
          id="org.eclipse.ui.intro.universal"/>
	   <introProductBinding 
			introId="org.eclipse.ui.intro.universal"
			productId="com.neXtep.Designer.product" />
   </extension>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="$nl$/intro/whatsnew.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorials.xml">
      </configExtension>
   </extension>

</plugin>
