<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.neXtep.designer.sqlgen.sqlGenerator">
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleTableGenerator"
            databaseVendor="ORACLE"
            typeId="TABLE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleColumnGenerator"
            databaseVendor="ORACLE"
            typeId="COLUMN">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleConstraintGenerator"
            databaseVendor="ORACLE"
            typeId="UNIQUE_KEY">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleConstraintGenerator"
            databaseVendor="ORACLE"
            typeId="FOREIGN_KEY">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleSequenceGenerator"
            databaseVendor="ORACLE"
            typeId="SEQUENCE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleIndexGenerator"
            databaseVendor="ORACLE"
            typeId="INDEX">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OraclePackageGenerator"
            databaseVendor="ORACLE"
            typeId="PACKAGE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleUserTypeGenerator"
            databaseVendor="ORACLE"
            typeId="USER_TYPE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleUserCollectionGenerator"
            databaseVendor="ORACLE"
            typeId="USER_COLLECTION">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleViewGenerator"
            databaseVendor="ORACLE"
            typeId="SQL_VIEW">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleTriggerGenerator"
            databaseVendor="ORACLE"
            typeId="TRIGGER">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleTablePhysicalPropertiesGenerator"
            databaseVendor="ORACLE"
            typeId="TAB_PHYSPROPS">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleIndexPhysicalPropertiesGenerator"
            databaseVendor="ORACLE"
            typeId="IND_PHYSPROPS">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.PartitionPhysicalPropertiesGenerator"
            databaseVendor="ORACLE"
            typeId="PART_PHYSPROPS">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleTablePartitionGenerator"
            databaseVendor="ORACLE"
            typeId="TAB_PARTITION">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleIndexPartitionGenerator"
            databaseVendor="ORACLE"
            typeId="IND_PARTITION">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleProcedureGenerator"
            databaseVendor="ORACLE"
            typeId="PROCEDURE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleCheckConstraintGenerator"
            databaseVendor="ORACLE"
            typeId="CHECK">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleClusterGenerator"
            databaseVendor="ORACLE"
            typeId="CLUSTER">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleDatasetGenerator"
            databaseVendor="ORACLE"
            typeId="DATASET">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleMaterializedViewGenerator"
            databaseVendor="ORACLE"
            typeId="MAT_VIEW">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleMaterializedViewLogPhysicalPropertiesGenerator"
            databaseVendor="ORACLE"
            typeId="MVIEW_LOG_PROPS">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleMaterializedViewLogGenerator"
            databaseVendor="ORACLE"
            typeId="MVIEW_LOG">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.oracle.generator.OracleSynonymGenerator"
            databaseVendor="ORACLE"
            typeId="SYNONYM">
      </sqlGenerator>
      <sqlScriptBuilder
            class="com.nextep.designer.sqlgen.oracle.impl.OracleScriptBuilder"
            vendor="ORACLE">
      </sqlScriptBuilder>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlCapturer">
      <sqlCapturer
            class="com.nextep.designer.sqlgen.oracle.impl.OracleCapturer"
            databaseVendor="ORACLE">
      </sqlCapturer>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlParser">
      <sqlParser
            class="com.nextep.designer.sqlgen.oracle.parser.OracleSQLParser"
            databaseVendor="ORACLE">
      </sqlParser>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.dropStrategy">
      <dropStrategy
            class="com.nextep.designer.sqlgen.oracle.strategies.ColumnNoDropStrategy"
            databaseVendor="ORACLE"
            default="false"
            typeId="COLUMN">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.UniqueKeyGenerateDropsStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="UNIQUE_KEY">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.designer.sqlgen.oracle.strategies.PackageDropStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="PACKAGE">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.UserTypeDropStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="USER_TYPE">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="USER_COLLECTION">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="TAB_PARTITION">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="IND_PARTITION">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="CHECK">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="MAT_VIEW">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.datadesigner.sqlgen.strategies.DoDropStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="MVIEW_LOG">
      </dropStrategy>
      <dropStrategy
            class="com.nextep.designer.sqlgen.oracle.strategies.SynonymDropStrategy"
            databaseVendor="ORACLE"
            default="true"
            typeId="SYNONYM">
      </dropStrategy>
   </extension>
   <extension
         point="com.neXtep.designer.core.elementType">
      <elementType
            Id="PACKAGE"
            categoryIcon="resources/PackageTypeSmall.ico"
            categoryIcon_16x16="resources/PackageTypeTiny.ico"
            categoryLabel="Oracle Packages"
            icon="resources/PackageIconSmall.ico"
            icon_16x16="resources/PackageIconTiny.ico"
            name="Oracle Package"
            typeInterface="com.nextep.datadesigner.sqlgen.model.IPackage">
      </elementType>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.VersionableFactory">
      <versionableFactory
            class="com.nextep.designer.sqlgen.oracle.factories.OraclePackageFactory"
            name="IPackage Factory"
            versionableInterfaceName="com.nextep.datadesigner.sqlgen.model.IPackage">
      </versionableFactory>
   </extension>
   <extension
         point="com.neXtep.designer.core.dbConnector">
      <dbConnector
            class="com.nextep.designer.sqlgen.oracle.impl.OracleDatabaseConnector"
            dbVendor="ORACLE">
      </dbConnector>
   </extension>
   <extension
         point="com.neXtep.designer.dbgm.datatypeProvider">
      <datatypeProvider
            class="com.nextep.designer.sqlgen.oracle.parser.OracleSQLParser"
            dbVendor="ORACLE">
      </datatypeProvider>
   </extension>
   <extension
         point="com.neXtep.designer.dbgm.sqlTypedParser">
      <sqlTypedParser
            class="com.nextep.designer.sqlgen.oracle.parser.OracleTypeParser"
            typeId="USER_TYPE"
            vendor="ORACLE">
      </sqlTypedParser>
      <sqlTypedParser
            class="com.nextep.designer.sqlgen.oracle.parser.OracleProcedureParser"
            typeId="PROCEDURE"
            vendor="ORACLE">
      </sqlTypedParser>
      <sqlTypedParser
            class="com.nextep.designer.sqlgen.oracle.parser.OraclePackageParser"
            typeId="PACKAGE"
            vendor="ORACLE">
      </sqlTypedParser>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlSubmitter">
      <sqlSubmitter
            class="com.nextep.designer.sqlgen.oracle.impl.OracleSQLPlusSubmitter"
            vendor="ORACLE">
      </sqlSubmitter>
   </extension>
   <extension
         point="com.neXtep.designer.core.persistenceFile">
      <persistenceFile
            file="src/com/nextep/designer/sqlgen/oracle/dao/PackageMapping.hbm.xml">
      </persistenceFile>
   </extension>

</plugin>
