<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.neXtep.designer.core.dbConnector">
      <dbConnector
            class="com.nextep.designer.sqlgen.db2.impl.DB2DatabaseConnector"
            dbVendor="DB2">
      </dbConnector>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlCapturer">
      <sqlCapturer
            class="com.nextep.designer.sqlgen.db2.impl.DB2Capturer"
            databaseVendor="DB2">
      </sqlCapturer>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlParser">
      <sqlParser
            class="com.nextep.designer.sqlgen.db2.parser.DB2SQLParser"
            databaseVendor="DB2">
      </sqlParser>
   </extension>
   <extension
         point="com.neXtep.designer.dbgm.datatypeProvider">
      <datatypeProvider
            class="com.nextep.designer.sqlgen.db2.parser.DB2SQLParser"
            dbVendor="DB2">
      </datatypeProvider>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlGenerator">
      <sqlGenerator
            class="com.nextep.designer.sqlgen.db2.generator.DB2ViewGenerator"
            databaseVendor="DB2"
            typeId="SQL_VIEW">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.db2.generator.DB2SequenceGenerator"
            databaseVendor="DB2"
            typeId="SEQUENCE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.db2.generator.DB2TableGenerator"
            databaseVendor="DB2"
            typeId="TABLE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.db2.generator.DB2ColumnGenerator"
            databaseVendor="DB2"
            typeId="COLUMN">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.generic.generator.SynonymGenerator"
            databaseVendor="DB2"
            typeId="SYNONYM">
      </sqlGenerator>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.dropStrategy">
      <dropStrategy
            class="com.nextep.designer.sqlgen.db2.strategies.SynonymDropStrategy"
            databaseVendor="DB2"
            default="true"
            typeId="SYNONYM">
      </dropStrategy>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlSubmitter">
      <sqlSubmitter
            class="com.nextep.designer.sqlgen.db2.impl.DB2SQLSubmitter"
            vendor="DB2">
      </sqlSubmitter>
   </extension>

</plugin>
