<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.neXtep.designer.sqlgen.sqlGenerator">
      <sqlGenerator
            class="com.nextep.designer.sqlgen.generic.generator.TableGenerator"
            typeId="TABLE">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.generic.generator.ColumnGenerator"
            typeId="COLUMN">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.generic.generator.NamedConstraintGenerator"
            typeId="UNIQUE_KEY">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.generic.generator.NamedConstraintGenerator"
            typeId="FOREIGN_KEY">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.generic.generator.IndexGenerator"
            typeId="INDEX">
      </sqlGenerator>
      <sqlGenerator
            class="com.nextep.designer.sqlgen.generic.generator.JdbcDatasetGenerator"
            typeId="DATASET">
      </sqlGenerator>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlSubmitter">
      <sqlSubmitter
            class="com.nextep.designer.sqlgen.generic.impl.JdbcSQLSubmitter"
            vendor="JDBC">
      </sqlSubmitter>
   </extension>
   <extension
         point="com.neXtep.designer.dbgm.datatypeProvider">
      <datatypeProvider
            class="com.nextep.designer.sqlgen.generic.jdbc.JDBCSQLParser"
            dbVendor="JDBC">
      </datatypeProvider>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlParser">
      <sqlParser
            class="com.nextep.designer.sqlgen.generic.jdbc.JDBCSQLParser"
            databaseVendor="JDBC">
      </sqlParser>
   </extension>
   <extension
         point="com.neXtep.designer.sqlgen.sqlCapturer">
      <sqlCapturer
            class="com.nextep.designer.sqlgen.generic.impl.JDBCCapturer"
            databaseVendor="JDBC">
      </sqlCapturer>
   </extension>

</plugin>
