<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.nextep.designer.sqlclient.ui.rcp.SQLFullClientEditor"
            default="false"
            icon="resource/SqlViewTiny.ico"
            id="com.neXtep.designer.sqlclient.ui.SQLFullClientEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.ViewSQLDataHandler"
            id="com.neXtep.designer.sqlclient.ui.viewData"
            name="%command.name.viewContents">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.OpenSQLClientHandler"
            id="com.neXtep.designer.sqlclient.ui.queryDB"
            name="%command.name.openSqlClient">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.ExecuteQueryHandler"
            id="com.neXtep.designer.sqlclient.ui.executeQuery"
            name="%command.name.executeQuery">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.ProfileQueryHandler"
            id="com.neXtep.designer.sqlclient.ui.profileSQL"
            name="%command.name.profileSql">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.AutoResizeColumnsHandler"
            id="com.neXtep.designer.sqlclient.ui.resizeColumns"
            name="%command.name.autoSizeColumns">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.ExportDataHandler"
            id="com.neXtep.designer.sqlclient.ui.exportData"
            name="%command.name.exportData">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.InsertRowHandler"
            id="com.neXtep.designer.sqlclient.ui.insertRow"
            name="%command.name.insertRow">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.DeleteRowHandler"
            id="com.neXtep.designer.sqlclient.ui.deleteRow"
            name="%command.name.deleteRow">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.UpdateRowHandler"
            id="com.neXtep.designer.sqlclient.ui.updateRow"
            name="%command.name.toggleEditMode">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.PinSQLResultsViewHandler"
            id="com.neXtep.designer.sqlclient.ui.pinSqlResultsView"
            name="%command.name.pinSqlView">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.CopyDatalineHandler"
            id="com.neXtep.designer.sqlclient.ui.copyDataLine"
            name="%command.name.copy">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.RefreshQueryHandler"
            id="com.neXtep.designer.sqlclient.ui.refreshQuery"
            name="%command.name.reExecute">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.CommitHandler"
            id="com.neXtep.designer.sqlclient.ui.commit"
            name="%command.name.commit">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.RollbackHandler"
            id="com.neXtep.designer.sqlclient.ui.rollback"
            name="%command.name.rollback">
      </command>
      <command
            defaultHandler="com.nextep.designer.sqlclient.ui.handlers.ToggleAutoCommitHandler"
            id="com.neXtep.designer.sqlclient.ui.toggleAutoCommit"
            name="%command.name.toggleAutocommit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=sql">
         <command
               commandId="com.neXtep.designer.sqlclient.ui.viewData"
               icon="resource/SqlViewTiny.ico"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.nextep.datadesigner.dbgm.model.IBasicTable">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.queryDB"
               icon="resource/SqlViewTiny.ico"
               label="%menu.label.sqlQuery"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="com.nextep.designer.core.model.IConnection">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=generation">
         <toolbar
               id="com.neXtep.designer.sqlclient.ui.toolbar">
            <command
                  commandId="com.neXtep.designer.sqlclient.ui.queryDB"
                  icon="resource/SqlViewTiny.ico"
                  label="%toolbar.label.sqlQuery"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=profiling">
         <command
               commandId="com.neXtep.designer.sqlclient.ui.profileSQL"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.neXtep.designer.sqlclient.ui.rcp.SQLResultsView?after=additions">
         <command
               commandId="com.neXtep.designer.sqlclient.ui.refreshQuery"
               icon="resource/refresh.png"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.updateRow"
               icon="resource/table_edit.png"
               style="toggle">
         </command>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.insertRow"
               icon="resource/table_row_insert.png"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.deleteRow"
               icon="resource/table_row_delete.png"
               style="push">
         </command>
         <separator
               name="com.neXtep.designer.sqlclient.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.resizeColumns"
               icon="resource/resize.png"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.exportData"
               icon="resource/export.png"
               style="push">
         </command>
         <separator
               name="com.neXtep.designer.sqlclient.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.pinSqlResultsView"
               icon="resource/pin_view.gif"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.neXtep.designer.sqlclient.ui.rcp.SQLResultsView?after=additions">
         <command
               commandId="com.neXtep.designer.sqlclient.ui.copyDataLine"
               style="push">
         </command>
         <separator
               name="com.neXtep.designer.sqlclient.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.insertRow"
               icon="resource/table_row_insert.png"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.deleteRow"
               icon="resource/table_row_delete.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.neXtep.designer.sqlclient.ui.SQLFullClientEditor?after=additions">
         <command
               commandId="com.neXtep.designer.sqlclient.ui.executeQuery"
               icon="resource/run_exc.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAs"
               style="push">
         </command>
         <separator
               name="com.neXtep.designer.sqlclient.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.commit"
               icon="resource/commit.png"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.rollback"
               icon="resource/rollback.png"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.sqlclient.ui.toggleAutoCommit"
               icon="resource/autocommit.png"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.neXtep.designer.sqlclient.ui.context3"
            name="name">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.neXtep.designer.sqlclient.ui.executeQuery"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ENTER">
      </key>
      <key
            commandId="com.neXtep.designer.sqlclient.ui.executeQuery"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="com.neXtep.designer.ui"
            class="com.nextep.designer.sqlclient.ui.rcp.SQLResultsView"
            icon="resource/SqlViewTiny.ico"
            id="com.neXtep.designer.sqlclient.ui.rcp.SQLResultsView"
            name="%view.name.sqlResults"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nextep.designer.sqlclient.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.nextep.designer.core.preferences.CorePreferencePage"
            class="com.nextep.designer.sqlclient.ui.preferences.SQLClientPreferencePage"
            id="com.nextep.designer.sqlclient.ui.preferences.SQLClientPreferencePage"
            name="%page.name.sqlClient">
      </page>
   </extension>

</plugin>
