<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.neXtep.designer.ui.typeController">
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.OracleTablePhysicalPropertiesUIController"
            context="ORACLE"
            typeId="TAB_PHYSPROPS">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ctrl.OracleTableController"
            context="ORACLE"
            typeId="TABLE">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ctrl.UserCollectionController"
            context="ORACLE"
            typeId="USER_COLLECTION">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ctrl.OracleIndexController"
            context="ORACLE"
            typeId="INDEX">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.IndexPhysicalPropertiesUIController"
            context="ORACLE"
            typeId="IND_PHYSPROPS">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.TablePartitionUIController"
            context="ORACLE"
            typeId="TAB_PARTITION">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.PartitionPhysicalPropertiesUIController"
            context="ORACLE"
            typeId="PART_PHYSPROPS">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.IndexPartitionUIController"
            context="ORACLE"
            typeId="IND_PARTITION">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ctrl.OracleUniqueKeyController"
            context="ORACLE"
            typeId="UNIQUE_KEY">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ctrl.OracleUserTypeController"
            context="ORACLE"
            typeId="USER_TYPE">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.OracleCheckConstraintUIController"
            context="ORACLE"
            typeId="CHECK">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.OracleClusterUIController"
            context="ORACLE"
            typeId="CLUSTER">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ctrl.OracleClusteredTableController"
            context="ORACLE"
            typeId="CLUSTER_TAB">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ctrl.RefMappingController"
            context="ORACLE"
            typeId="REF_MAPPING">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.MaterializedViewUIController"
            context="ORACLE"
            typeId="MAT_VIEW">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.MaterializedViewLogUIController"
            context="ORACLE"
            typeId="MVIEW_LOG">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ui.controllers.MaterializedViewLogPhysicalPropertiesUIController"
            context="ORACLE"
            typeId="MVIEW_LOG_PROPS">
      </typeController>
      <typeController
            class="com.nextep.designer.dbgm.oracle.ctrl.OracleSynonymController"
            context="ORACLE"
            typeId="SYNONYM">
      </typeController>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.delPhysicals"
               icon="resources/DeleteIconTiny.ico"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.nextep.designer.dbgm.model.IPhysicalProperties">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.delPartition"
               icon="resources/DeleteIconTiny.ico"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.nextep.designer.dbgm.model.IPartition">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.delCheckConstraint"
               icon="resources/DeleteIconTiny.ico"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.nextep.designer.dbgm.model.ICheckConstraint">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.neXtep.designer.additions?after=specific">
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.newUserCollection"
               icon="resources/NewUserCollectionSmall.ico"
               label="%command.userCollection"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <and>
                           <instanceof
                                 value="com.nextep.datadesigner.model.IElementType">
                           </instanceof>
                           <equals
                                 value="USER_COLLECTION">
                           </equals>
                        </and>
                        <adapt
                              type="com.nextep.designer.vcs.model.IVersionContainer">
                           <test
                                 forcePluginActivation="true"
                                 property="com.neXtep.designer.matchVendor"
                                 value="ORACLE">
                           </test>
                        </adapt>
                        <and>
                           <instanceof
                                 value="com.nextep.designer.vcs.ui.model.ITypedNode">
                           </instanceof>
                           <test
                                 property="com.neXtep.designer.ui.typeId"
                                 value="USER_COLLECTION">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="USER_COLLECTION">
            </parameter>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.newCheckConstraint"
               icon="resources/NewCheckConstraint.ico"
               label="%command.checkConstraint"
               style="push">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="CHECK">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <and>
                           <instanceof
                                 value="com.nextep.datadesigner.model.IElementType">
                           </instanceof>
                           <equals
                                 value="CHECK">
                           </equals>
                        </and>
                        <instanceof
                              value="com.nextep.designer.dbgm.oracle.model.IOracleTable">
                        </instanceof>
                        <and>
                           <instanceof
                                 value="com.nextep.designer.vcs.ui.model.ITypedNode">
                           </instanceof>
                           <test
                                 property="com.neXtep.designer.ui.typeId"
                                 value="CHECK">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.newMaterializedView"
               icon="resources/NewMaterializedViewSmall.ico"
               label="%command.materializedView"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <and>
                           <instanceof
                                 value="com.nextep.datadesigner.model.IElementType">
                           </instanceof>
                           <equals
                                 value="MAT_VIEW">
                           </equals>
                        </and>
                        <adapt
                              type="com.nextep.designer.vcs.model.IVersionContainer">
                           <test
                                 forcePluginActivation="true"
                                 property="com.neXtep.designer.matchVendor"
                                 value="ORACLE">
                           </test>
                        </adapt>
                        <and>
                           <instanceof
                                 value="com.nextep.designer.vcs.ui.model.ITypedNode">
                           </instanceof>
                           <test
                                 property="com.neXtep.designer.ui.typeId"
                                 value="MAT_VIEW">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="MAT_VIEW">
            </parameter>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.newMatViewLog"
               icon="resources/NewMaterializedViewLogSmall.ico"
               label="%command.materializedViewLog"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="com.nextep.designer.dbgm.oracle.model.IOracleTable">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="MVIEW_LOG">
            </parameter>
            <parameter
                  name="nocheck"
                  value="nocheck">
            </parameter>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.ui.newPhysProps"
               icon="resources/NewTablespaceSmall.ico"
               label="%command.physicals.2">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="MVIEW_LOG_PROPS">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <instanceof
                              value="com.nextep.designer.dbgm.oracle.model.IMaterializedViewLog">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.newCluster"
               icon="resources/NewClusterSmall.ico"
               label="%command.cluster"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <and>
                           <instanceof
                                 value="com.nextep.datadesigner.model.IElementType">
                           </instanceof>
                           <equals
                                 value="CLUSTER">
                           </equals>
                        </and>
                        <adapt
                              type="com.nextep.designer.vcs.model.IVersionContainer">
                           <test
                                 forcePluginActivation="true"
                                 property="com.neXtep.designer.matchVendor"
                                 value="ORACLE">
                           </test>
                        </adapt>
                        <and>
                           <instanceof
                                 value="com.nextep.designer.vcs.ui.model.ITypedNode">
                           </instanceof>
                           <test
                                 property="com.neXtep.designer.ui.typeId"
                                 value="CLUSTER">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="CLUSTER">
            </parameter>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.newTablePartition"
               icon="resources/NewPartitionSmall.ico"
               label="%command.tablePart"
               style="push">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="TAB_PARTITION">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="com.nextep.designer.dbgm.oracle.model.IOracleTablePhysicalProperties">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.dbgm.oracle.ui.newIndexPartition"
               icon="resources/NewIndexPartitionSmall.ico"
               label="%command.indexPart"
               style="push">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="IND_PARTITION">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="com.nextep.designer.dbgm.model.IIndexPhysicalProperties">
                        </instanceof>
                        <instanceof
                              value="com.nextep.designer.dbgm.model.IPartitionable">
                        </instanceof>
                     </and>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.neXtep.designer.ui.toolbar.actions?after=specific">
         <command
               commandId="com.neXtep.designer.vcs.ui.newContainerBasedTypedObject"
               icon="resources/NewUserCollectionSmall.ico"
               label="%command.createUserCollection"
               style="push">
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="USER_COLLECTION">
            </parameter>
            <visibleWhen
                  checkEnabled="true">
               <test
                     property="com.neXtep.designer.matchVendor"
                     value="ORACLE">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.newContainerBasedTypedObject"
               icon="resources/NewMaterializedViewSmall.ico"
               label="%command.createMaterializedView"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <test
                     property="com.neXtep.designer.matchVendor"
                     value="ORACLE">
               </test>
            </visibleWhen>
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="MAT_VIEW">
            </parameter>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.newContainerBasedTypedObject"
               icon="resources/NewClusterSmall.ico"
               label="%command.createCluster"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <test
                     property="com.neXtep.designer.matchVendor"
                     value="ORACLE">
               </test>
            </visibleWhen>
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="CLUSTER">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.newUserCollection"
            name="%command.createUserCollection">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.dbgm.oracle.ui.handlers.RemovePhysicalsHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.delPhysicals"
            name="%command.removePhysicals">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.newTablePartition"
            name="%command.createTablePart">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.dbgm.oracle.ui.handlers.NewIndexPartitionHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.newIndexPartition"
            name="%command.createIndexPart">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.dbgm.oracle.ui.handlers.RemovePartitionHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.delPartition"
            name="%command.removePart">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.newCheckConstraint"
            name="%command.createCheck">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.dbgm.oracle.ui.handlers.RemoveCheckConstraintHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.delCheckConstraint"
            name="%command.removeConstraint">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.newCluster"
            name="%command.createCluster">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewTypedEmptyInstanceHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.newMaterializedView"
            name="%command.createMaterializedView">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            id="com.neXtep.designer.dbgm.oracle.ui.newMatViewLog"
            name="%command.createMaterializedViewLog">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId"
               optional="true">
         </commandParameter>
         <commandParameter
               id="nocheck"
               name="nocheck"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="com.neXtep.designer.ui.typePersister">
      <typePersister
            class="com.nextep.designer.dbgm.oracle.ui.PhysicalPropertiesPersister"
            typeId="TAB_PHYSPROPS">
      </typePersister>
      <typePersister
            class="com.nextep.datadesigner.vcs.gui.external.VersionablePersister"
            typeId="USER_COLLECTION">
      </typePersister>
      <typePersister
            class="com.nextep.designer.dbgm.oracle.ui.IndexPhysicalPropertiesPersister"
            typeId="IND_PHYSPROPS">
      </typePersister>
      <typePersister
            class="com.nextep.designer.dbgm.oracle.ui.TablePartitionPersister"
            typeId="TAB_PARTITION">
      </typePersister>
      <typePersister
            class="com.nextep.designer.dbgm.oracle.ui.IndexPartitionPersister"
            typeId="IND_PARTITION">
      </typePersister>
      <typePersister
            class="com.nextep.datadesigner.vcs.gui.external.VersionablePersister"
            typeId="CLUSTER">
      </typePersister>
      <typePersister
            class="com.nextep.datadesigner.vcs.gui.external.VersionablePersister"
            typeId="MAT_VIEW">
      </typePersister>
      <typePersister
            class="com.nextep.datadesigner.vcs.gui.external.VersionablePersister"
            typeId="MVIEW_LOG">
      </typePersister>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.nextep.designer.dbgm.oracle.ui.PhysicalPropertiesPersister"
            id="com.neXtep.designer.dbgm.oracle.ui.PhysicalPropertiesFactory">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.oracle.ui.IndexPhysicalPropertiesPersister"
            id="com.neXtep.designer.dbgm.oracle.ui.IndexPhysicalPropertiesFactory">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.oracle.ui.TablePartitionPersister"
            id="com.neXtep.designer.dbgm.oracle.ui.TablePartitionFactory">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.oracle.ui.IndexPartitionPersister"
            id="com.neXtep.designer.dbgm.oracle.ui.IndexPartitionFactory">
      </factory>
      <factory
            class="com.nextep.designer.dbgm.oracle.ui.CheckConstraintPersister"
            id="com.neXtep.designer.dbgm.oracle.ui.CheckConstraintFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.nextep.designer.dbgm.oracle.ui.navigators.PhysicalPropertiesContentProvider"
            id="com.neXtep.designer.dbgm.oracle.ui.physProps"
            labelProvider="com.nextep.designer.dbgm.ui.jface.DbgmLabelProvider"
            name="%navigatorContent.physicals">
         <triggerPoints>
            <instanceof
                  value="com.nextep.designer.dbgm.model.IPhysicalObject">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            contentProvider="com.nextep.designer.dbgm.oracle.ui.navigators.OracleClusterContentProvider"
            id="com.neXtep.designer.dbgm.oracle.ui.clusterTables"
            labelProvider="com.nextep.designer.dbgm.ui.jface.DbgmLabelProvider"
            name="%navigatorContent.clusteredTab">
         <triggerPoints>
            <instanceof
                  value="com.nextep.designer.dbgm.oracle.model.IOracleCluster">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            contentProvider="com.nextep.designer.dbgm.oracle.ui.navigators.PartitionContentProvider"
            id="com.neXtep.designer.dbgm.oracle.ui.partitions"
            labelProvider="com.nextep.designer.dbgm.ui.jface.DbgmLabelProvider"
            name="%navigatorContent.partitions">
         <triggerPoints>
            <instanceof
                  value="com.nextep.designer.dbgm.model.IPartitionable">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            contentProvider="com.nextep.designer.dbgm.oracle.ui.navigators.OracleTableContentProvider"
            id="com.neXtep.designer.dbgm.oracle.ui.checkContraints"
            labelProvider="com.nextep.designer.dbgm.ui.jface.DbgmLabelProvider"
            name="%navigatorContent.checkConstraints">
         <triggerPoints>
            <instanceof
                  value="com.nextep.designer.dbgm.oracle.model.IOracleTable">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="com.neXtep.designer.ui.typeUIComponent">
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PhysicalPropertiesOverviewFormEditor"
            typeId="TABLE"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.oracle.ui.impl.OracleTablePhysicalPropertiesFormEditor"
            typeId="TAB_PHYSPROPS"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PartitionableFormEditor"
            typeId="TAB_PHYSPROPS"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PhysicalPropertiesAttributesFormEditor"
            typeId="TAB_PHYSPROPS"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.IndexColumnsFormEditor"
            typeId="INDEX"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.oracle.ui.impl.OracleTablePhysicalPropertiesFormEditor"
            typeId="INDEX"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PhysicalPropertiesAttributesFormEditor"
            typeId="INDEX"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PartitionableFormEditor"
            typeId="INDEX"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.oracle.ui.impl.OracleTablePhysicalPropertiesFormEditor"
            typeId="TAB_PARTITION"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PhysicalPropertiesAttributesFormEditor"
            typeId="TAB_PARTITION"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.oracle.ui.impl.OracleTablePhysicalPropertiesFormEditor"
            typeId="UNIQUE_KEY"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PhysicalPropertiesAttributesFormEditor"
            typeId="UNIQUE_KEY"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.oracle.ui.impl.OracleTablePhysicalPropertiesFormEditor"
            typeId="IND_PARTITION"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PhysicalPropertiesAttributesFormEditor"
            typeId="IND_PARTITION"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.oracle.ui.impl.ClusterFormEditor"
            typeId="CLUSTER_TAB"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.TableFormEditor"
            typeId="MAT_VIEW"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.oracle.ui.impl.OracleMaterializedViewFormEditor"
            typeId="MAT_VIEW"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PhysicalPropertiesOverviewFormEditor"
            typeId="MAT_VIEW"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.TableFormEditor"
            typeId="CLUSTER"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PhysicalPropertiesOverviewFormEditor"
            typeId="CLUSTER"
            vendor="ORACLE">
      </typeUIComponent>
      <typeUIComponent
            class="com.nextep.designer.dbgm.ui.editors.PhysicalPropertiesAttributesFormEditor"
            typeId="CLUSTER"
            vendor="ORACLE">
      </typeUIComponent>
   </extension>
   <extension
         point="com.neXtep.designer.ui.editorTypedPageContribution">
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="TABLE"
            pageTypeId="CHECK">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="TABLE"
            pageTypeId="TAB_PHYSPROPS">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="TABLE"
            pageTypeId="TAB_PARTITION">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="INDEX"
            pageTypeId="IND_PARTITION">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="CLUSTER"
            pageTypeId="CLUSTER"
            singleEdition="true">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="CLUSTER"
            pageTypeId="COLUMN">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="CLUSTER"
            pageTypeId="CLUSTER_TAB">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="CLUSTER"
            pageTypeId="INDEX">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="MAT_VIEW"
            pageTypeId="MAT_VIEW"
            singleEdition="true">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="MAT_VIEW"
            pageTypeId="COLUMN">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="MAT_VIEW"
            pageTypeId="UNIQUE_KEY">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="MAT_VIEW"
            pageTypeId="FOREIGN_KEY">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="MAT_VIEW"
            pageTypeId="INDEX">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="MAT_VIEW"
            pageTypeId="TAB_PHYSPROPS">
      </editorTypedPageContribution>
      <editorTypedPageContribution
            dbVendor="ORACLE"
            editorTypeId="MAT_VIEW"
            pageTypeId="TAB_PARTITION">
      </editorTypedPageContribution>
   </extension>
   <extension
         point="com.neXtep.designer.ui.typeEditorPage">
      <typeEditorPage
            actionProvider="com.nextep.designer.dbgm.oracle.ui.actions.ClusteredTableActionProvider"
            contentProvider="com.nextep.designer.dbgm.oracle.ui.jface.ClusteredTablesContentProvider"
            icon="resources/ClusterSmallCube.ico"
            labelProvider="com.nextep.designer.dbgm.ui.jface.DbgmLabelProvider"
            title="%typeEditorPage.clusterTab.title"
            typeId="CLUSTER_TAB">
      </typeEditorPage>
   </extension>

</plugin>
