<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="comparisonEditorProvider" name="ComparisonEditorProvider" schema="schema/comparisonEditorProvider.exsd"/>
   <extension
         id="ActivitySelection"
         name="ActivitySelection"
         point="com.neXtep.designer.core.SelectionInvoker">
         <selectionInvoker
               class="com.nextep.designer.vcs.ui.controllers.VersionDiffController"
               name="version.compare">
         </selectionInvoker>
         <selectionInvoker
               class="com.nextep.designer.vcs.ui.controllers.MergeController"
               name="merge">
         </selectionInvoker>
         <selectionInvoker
               class="com.nextep.designer.vcs.ui.controllers.FindElementController"
               name="find.element">
         </selectionInvoker>
         <selectionInvoker
               class="com.nextep.designer.vcs.ui.controllers.ReloadViewInvoker"
               name="prompt.reloadView">
         </selectionInvoker>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.neXtep.designer.ui"
            class="com.nextep.designer.vcs.ui.navigators.VersionNavigator"
            icon="resource/NavigatorViewIcon.ico"
            id="com.neXtep.designer.vcs.ui.navigator"
            name="%version.navigator.viewName"
            restorable="true">
      </view>
      <view
            category="com.neXtep.designer.ui"
            class="com.nextep.datadesigner.vcs.gui.rcp.VersionableViewRCP"
            icon="resource/VersionTreeSmall.ico"
            id="com.nextep.datadesigner.vcs.gui.rcp.VersionableViewRCP"
            name="%view.version.name">
      </view>
      <view
            allowMultiple="false"
            category="com.neXtep.designer.ui"
            class="com.nextep.designer.vcs.ui.views.DiffPreviewView"
            icon="resource/DiffTiny.ico"
            id="com.neXtep.designer.vcs.ui.views.DiffPreviewView"
            name="%comparison.viewName"
            restorable="true">
      </view>
      <view
            category="com.neXtep.designer.ui"
            class="com.nextep.designer.vcs.ui.navigators.DependenciesNavigator"
            icon="resource/call_hierarchy.gif"
            id="com.neXtep.designer.vcs.ui.dependenciesView"
            name="%view.dependencies.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.nextep.datadesigner.vcs.gui.rcp.VersionableViewRCP"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.neXtep.designer.ui.typeController">
      <typeController
            class="com.nextep.designer.vcs.ui.controllers.ContainerUIController"
            typeId="Container">
      </typeController>
      <typeController
            class="com.nextep.designer.vcs.ui.controllers.VersionableExtensionController"
            typeId="Versionable">
      </typeController>
      <typeController
            class="com.nextep.designer.vcs.ui.controllers.ReferenceUIController"
            typeId="REFERENCE">
      </typeController>
      <typeController
            class="com.nextep.designer.vcs.ui.controllers.VersionViewUIController"
            typeId="VIEW">
      </typeController>
      <typeController
            class="com.nextep.designer.vcs.ui.controllers.RepositoryFileController"
            typeId="FILE">
      </typeController>
      <typeController
            class="com.nextep.designer.vcs.ui.controllers.UserController"
            typeId="USER">
      </typeController>
      <typeController
            class="com.nextep.designer.vcs.ui.controllers.TargetSetUIController"
            typeId="TARGET_SET">
      </typeController>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.neXtep.designer.vcs.ui.commands.newContainer"
            name="%command.createModule">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.CheckOutHandler"
            id="com.neXtep.designer.vcs.ui.checkOut"
            name="%command.checkOut">
      </command>
      <command
            id="com.neXtep.designer.vcs.ui.checkIn"
            name="%command.commit">
      </command>
      <command
            id="com.neXtep.designer.vcs.ui.removeVersionable"
            name="%command.removeFromModule">
      </command>
      <command
            id="com.neXtep.designer.vcs.ui.diffVersion"
            name="%command.comparePrevious">
      </command>
      <command
            id="com.neXtep.designer.vcs.ui.createView"
            name="%command.createWorkspace">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.ChangeViewHandler"
            id="com.neXtep.designer.vcs.ui.changeView"
            name="%command.changeWorkspace">
      </command>
      <command
            id="com.neXtep.designer.vcs.ui.editView"
            name="%command.editWorkspace">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.VersionZoomInHandler"
            id="com.neXtep.designer.vcs.ui.zoomIn"
            name="%command.zoomIn">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.VersionZoomOutHandler"
            id="com.neXtep.designer.vcs.ui.zoomOut"
            name="%command.zoomOut">
      </command>
      <command
            id="com.neXtep.designer.vcs.ui.zoomFit"
            name="%command.zoomFit">
      </command>
      <command
            id="com.neXtep.designer.vcs.ui.merge"
            name="%command.mergeTo">
      </command>
      <command
            id="com.neXtep.designer.vcs.ui.undoCheckOut"
            name="%command.undoCheckOut">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.ListCheckOutsHandler"
            id="com.neXtep.designer.vcs.ui.listCheckOuts"
            name="%command.listCheckOut">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.ChangeUserHandler"
            id="com.neXtep.designer.vcs.ui.changeUser"
            name="%command.changeUser">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.ManageUserHandler"
            id="com.neXtep.designer.vcs.ui.manageUsers"
            name="%command.manageUsers">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.OpenTypeHandler"
            id="com.neXtep.designer.vcs.ui.openType"
            name="%command.open">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.SynchViewHandler"
            id="com.neXtep.designer.vcs.ui.synchView"
            name="%command.refreshView">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.MoveToModuleHandler"
            id="com.neXtep.designer.vcs.ui.move"
            name="%command.moveToModule">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.VersionHistoryHandler"
            id="com.neXtep.designer.vcs.ui.showHistory"
            name="%command.showHistory">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.VersionEditionHandler"
            id="com.neXtep.designer.vcs.ui.editVersion"
            name="%command.editVersion">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.VersionZoomInHandler"
            id="com.neXtep.designer.vcs.ui.zoomInFixed"
            name="%command.zoomInFixed">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.OpenComparisonHandler"
            id="com.neXtep.designer.vcs.ui.openComparison"
            name="%command.openComparison">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.FilterCommitsHandler"
            id="com.neXtep.designer.vcs.ui.filterCommits"
            name="%command.filterCommits.name">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.NewContainerBasedTypedInstanceHandler"
            id="com.neXtep.designer.vcs.ui.newContainerBasedTypedObject"
            name="New">
         <commandParameter
               id="com.neXtep.designer.core.typeId"
               name="typeId">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.RenameHandler"
            id="com.neXtep.designer.vcs.ui.rename"
            name="%command.rename">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.ComputeDependenciesHandler"
            id="com.neXtep.designer.vcs.ui.computeDependencies"
            name="%command.computeDependencies">
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.ToggleDependencyModeHandler"
            id="com.neXtep.designer.vcs.ui.dependencyComputationMode"
            name="%command.dependencyComputationModeReverse">
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="OBJECTS_DEPENDENT_OF">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="dependencyMode"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.nextep.designer.vcs.ui.handlers.CopyHandler"
            id="com.neXtep.designer.vcs.ui.copy"
            name="%command.copy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.nextep.designer.vcs.ui.handlers.NewTypedInstanceHandler"
            commandId="com.neXtep.designer.vcs.ui.commands.newContainer">
      </handler>
      <handler
            class="com.nextep.designer.vcs.ui.handlers.CheckInHandler"
            commandId="com.neXtep.designer.vcs.ui.checkIn">
      </handler>
      <handler
            class="com.nextep.designer.vcs.ui.handlers.RemoveHandler"
            commandId="com.neXtep.designer.vcs.ui.removeVersionable">
      </handler>
      <handler
            class="com.nextep.designer.vcs.ui.handlers.VersionCompareHandler"
            commandId="com.neXtep.designer.vcs.ui.diffVersion">
      </handler>
      <handler
            class="com.nextep.designer.vcs.ui.handlers.EditViewHandler"
            commandId="com.neXtep.designer.vcs.ui.editView">
      </handler>
      <handler
            class="com.nextep.designer.vcs.ui.handlers.MergeToHandler"
            commandId="com.neXtep.designer.vcs.ui.merge">
      </handler>
      <handler
            class="com.nextep.designer.vcs.ui.handlers.CreateViewHandler"
            commandId="com.neXtep.designer.vcs.ui.createView">
      </handler>
      <handler
            class="com.nextep.designer.vcs.ui.handlers.UndoCheckOutHandler"
            commandId="com.neXtep.designer.vcs.ui.undoCheckOut">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.neXtep.designer.vcs.ui.commands.newContainer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.neXtep.designer.vcs.ui.openType"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
      <key
            commandId="com.neXtep.designer.vcs.ui.copy"
            contextId="com.neXtep.designer.vcs.ui.navigator"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               id="com.neXtep.designer.vcs.ui.menus.repository"
               label="%menu.workspace"
               mnemonic="W">
            <command
                  commandId="com.neXtep.designer.vcs.ui.changeView"
                  icon="resource/ChangeViewSmall.ico"
                  mnemonic="C">
            </command>
            <command
                  commandId="com.neXtep.designer.vcs.ui.editView"
                  mnemonic="E">
            </command>
            <command
                  commandId="com.neXtep.designer.vcs.ui.createView"
                  icon="resource/CreateViewSmall.ico"
                  mnemonic="r">
            </command>
            <separator
                  name="com.neXtep.designer.vcs.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.neXtep.designer.vcs.ui.changeUser"
                  icon="resource/UserChangeSmall.ico"
                  style="push">
            </command>
            <command
                  commandId="com.neXtep.designer.vcs.ui.manageUsers"
                  icon="resource/UsersSmall.ico"
                  style="push">
            </command>
            <separator
                  name="com.neXtep.designer.vcs.ui.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.neXtep.designer.vcs.ui.listCheckOuts">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.neXtep.designer.vcs.ui.toolbars.version">
            <command
                  commandId="com.neXtep.designer.vcs.ui.checkIn"
                  disabledIcon="resource/CheckInSmallDis.ico"
                  icon="resource/CheckInSmall.ico"
                  tooltip="%command.tooltip.commit">
            </command>
            <command
                  commandId="com.neXtep.designer.vcs.ui.checkOut"
                  disabledIcon="resource/CheckOutSmallDis.ico"
                  icon="resource/CheckOutSmall.ico"
                  tooltip="%command.tooltip.checkOut">
            </command>
            <command
                  commandId="com.neXtep.designer.vcs.ui.undoCheckOut"
                  disabledIcon="resource/UndoCheckOutDis.ico"
                  icon="resource/UndoCheckOutSmall.ico"
                  tooltip="%command.tooltip.undoCheckout.2">
            </command>
         </toolbar>
         <toolbar
               id="com.neXtep.designer.ui.toolbar.actions">
            <command
                  commandId="com.neXtep.designer.vcs.ui.newContainerBasedTypedObject"
                  icon="resource/NewViewIconSmall.ico"
                  label="%command.createModule">
               <parameter
                     name="com.neXtep.designer.core.typeId"
                     value="CONTAINER">
               </parameter>
            </command>
            <separator
                  name="standard"
                  visible="false">
            </separator>
            <separator
                  name="advanced"
                  visible="false">
            </separator>
            <separator
                  name="specific"
                  visible="false">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="resource/addIconTiny.gif"
               id="com.neXtep.designer.additions"
               label="%menu.label.add">
            <command
                  commandId="com.neXtep.designer.vcs.ui.commands.newContainer"
                  icon="resource/NewViewIconSmall.ico"
                  label="%command.label.module">
               <visibleWhen>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="com.nextep.designer.vcs.model.IVersionContainer">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
               <parameter
                     name="com.neXtep.designer.core.typeId"
                     value="CONTAINER">
               </parameter>
            </command>
            <separator
                  name="standard"
                  visible="false">
            </separator>
            <separator
                  name="advanced"
                  visible="false">
            </separator>
            <separator
                  name="specific">
            </separator>
         </menu>
         <command
               commandId="com.neXtep.designer.vcs.ui.openComparison"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="com.nextep.designer.vcs.model.IComparisonItem">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <menu
               id="com.neXtep.vcs.ui.compareWith"
               label="%menu.label.compareWith">
            <dynamic
                  class="com.nextep.designer.vcs.ui.compare.ComparisonEditorProvidersItems"
                  id="com.neXtep.designer.vcs.ui.comparisonModes">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="com.nextep.designer.vcs.model.IComparisonItem">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=version">
         <command
               commandId="com.neXtep.designer.vcs.ui.checkOut"
               icon="resource/CheckOutTiny.ico"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="com.nextep.designer.vcs.model.IVersionable">
                     </instanceof>
                     <adapt
                           type="com.nextep.designer.vcs.model.IVersionable">
                        <instanceof
                              value="com.nextep.designer.vcs.model.IVersionable">
                        </instanceof>
                     </adapt>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.checkIn"
               icon="resource/CheckInTiny.ico">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.nextep.designer.vcs.model.IVersionable">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.undoCheckOut"
               icon="resource/UndoCheckOutTiny.ico"
               tooltip="%command.tooltip.undoCheckout.3">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.nextep.designer.vcs.model.IVersionable">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.diffVersion"
               icon="resource/DiffTiny.ico">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="com.nextep.designer.vcs.model.IVersionInfo">
                        </instanceof>
                        <instanceof
                              value="com.nextep.designer.vcs.model.IVersionable">
                        </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.merge"
               icon="resource/MergeTiny.ico"
               label="%command.label.mergeTo">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.nextep.designer.vcs.model.IVersionContainer">
                     </instanceof>
                     <instanceof
                           value="com.nextep.designer.vcs.model.IVersionable">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=actions">
         <command
               commandId="com.neXtep.designer.vcs.ui.removeVersionable"
               icon="resource/DeleteIconTiny.ico">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.nextep.designer.vcs.model.IVersionable">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.move"
               icon="resource/moveModuleTiny.gif"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.nextep.designer.vcs.model.IVersionable">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.neXtep.designer.vcs.ui.navigator">
         <command
               commandId="com.neXtep.designer.vcs.ui.synchView"
               icon="resource/refresh.gif"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.filterCommits"
               icon="resource/filter-commits.png"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.nextep.datadesigner.vcs.gui.rcp.VersionableViewRCP">
         <command
               commandId="com.neXtep.designer.vcs.ui.diffVersion"
               icon="resource/DiffTiny.ico"
               style="push"
               tooltip="%command.tooltip.comparePrevious">
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.showHistory"
               icon="resource/history.gif"
               style="push"
               tooltip="%command.tooltip.showHistory">
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.editVersion"
               icon="resource/EditTiny.ico"
               style="push"
               tooltip="%command.tooltip.editVersion">
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.zoomOut"
               icon="resource/ZoomOutTiny.ico"
               style="push">
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.zoomInFixed"
               icon="resource/ZoomInTiny.ico"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.neXtep.designer.vcs.ui.views.DiffPreviewView">
         <dynamic
               class="com.nextep.designer.vcs.ui.compare.ComparisonEditorProvidersItems"
               id="com.neXtep.designer.vcs.ui.compare.type">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.neXtep.designer.additions?after=standard">
         <command
               commandId="com.neXtep.designer.dbgm.ui.newConnection"
               icon="resource/NewConnectionSmallIcon.ico"
               label="%command.newDatabase.label">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <and>
                     <instanceof
                           value="com.nextep.designer.vcs.model.ITargetSet">
                     </instanceof>
                  </and>
               </iterate>
            </visibleWhen>
            <parameter
                  name="com.neXtep.designer.core.typeId"
                  value="CONNECTION">
            </parameter>
            <parameter
                  name="com.neXtep.designer.core.noEdition"
                  value="true">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=editions">
         <command
               commandId="com.neXtep.designer.vcs.ui.rename"
               icon="resource/renameTiny.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <adapt
                              type="com.nextep.datadesigner.model.INamedObject">
                        </adapt>
                        <not>
                           <instanceof
                                 value="com.nextep.datadesigner.model.IElementType">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="com.nextep.designer.core.model.IConnection">
                           </instanceof>
                        </not>
                     </and>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.copy"
               icon="resource/copy_edit.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <adapt
                              type="com.nextep.designer.vcs.model.IVersionable">
                        </adapt>
                        <not>
                           <instanceof
                                 value="com.nextep.datadesigner.model.IElementType">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="com.nextep.designer.core.model.IConnection">
                           </instanceof>
                        </not>
                     </and>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=sql">
         <command
               commandId="com.neXtep.designer.vcs.ui.computeDependencies"
               icon="resource/call_hierarchy.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.nextep.datadesigner.model.IReferenceable">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.neXtep.designer.vcs.ui.dependenciesView">
         <separator
               name="com.neXtep.designer.vcs.ui.dependenciesSeparator"
               visible="true">
         </separator>
         <command
               commandId="com.neXtep.designer.vcs.ui.dependencyComputationMode"
               icon="resource/ch_callers.gif"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="OBJECTS_DEPENDENT_OF">
            </parameter>
         </command>
         <command
               commandId="com.neXtep.designer.vcs.ui.dependencyComputationMode"
               icon="resource/ch_callees.gif"
               label="%command.dependencyComputationModeDirect"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="DIRECT_DEPENDENCIES">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.neXtep.designer.ui.typePersister">
      <typePersister
            class="com.nextep.datadesigner.vcs.gui.external.VersionablePersister"
            typeId="CONTAINER">
      </typePersister>
      <typePersister
            class="com.nextep.datadesigner.vcs.gui.external.ViewPersister"
            typeId="VIEW">
      </typePersister>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.nextep.datadesigner.vcs.gui.external.VersionablePersister"
            id="com.neXtep.designer.vcs.ui.versionableFactory">
      </factory>
      <factory
            class="com.nextep.datadesigner.vcs.gui.external.ViewPersister"
            id="com.neXtep.designer.vcs.ui.viewPersister">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.nextep.designer.vcs.ui.DBVendorPropertyTester"
            id="com.neXtep.designer.vendorTester"
            namespace="com.neXtep.designer"
            properties="matchVendor"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.nextep.designer.core.preferences.CorePreferencePage"
            class="com.nextep.designer.vcs.ui.preferences.NamingPreferencePage"
            id="com.nextep.designer.vcs.ui.preferences.NamingPreferencePage"
            name="%page.name.namePatterns">
      </page>
      <page
            category="com.nextep.designer.core.preferences.CorePreferencePage"
            class="com.nextep.designer.vcs.ui.preferences.VersioningPreferencePage"
            id="com.neXtep.designer.vcs.ui.versioning"
            name="%page.name.versioning">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.nextep.datadesigner.vcs.gui.rcp.ComparisonSideToSideEditor"
            default="false"
            icon="resource/DiffTiny.ico"
            id="com.nextep.datadesigner.vsc.gui.rcp.ComparisonSideToSideEditor"
            name="%editor.name.comparison">
      </editor>
      <editor
            class="com.nextep.designer.vcs.ui.compare.PropertyEditor"
            default="false"
            icon="resource/DiffTiny.ico"
            id="com.nextep.designer.vcs.ui.compare.PropertyEditor"
            name="%editor.name.propertyComparison">
      </editor>
   </extension>
   <extension
         point="com.neXtep.designer.vcs.ui.comparisonEditorProvider">
      <comparisonEditorProvider
            class="com.nextep.designer.vcs.ui.compare.DefaultComparisonEditorProvider">
      </comparisonEditorProvider>
      <comparisonEditorProvider
            class="com.nextep.designer.vcs.ui.compare.PropertyComparisonEditorProvider">
      </comparisonEditorProvider>
   </extension>
   <extension
         point="com.neXtep.designer.core.persistenceAccessors">
      <persistenceAccessor
            class="com.nextep.designer.vcs.ui.persistence.TargetSetPersistenceAccessor"
            typeId="TARGET_SET">
      </persistenceAccessor>
      <persistenceAccessor
            class="com.nextep.designer.vcs.ui.persistence.ConnectionPersistenceAccessor"
            typeId="CONNECTION">
      </persistenceAccessor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            helpContext="com.neXtep.designer.vcs.ui.VersionViewRCP"
            viewerId="com.neXtep.designer.vcs.ui.navigator">
         <popupMenu
               id="com.neXtep.designer.vcs.ui.popup">
            <insertionPoint
                  name="editions">
            </insertionPoint>
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="sql"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="actions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="version"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.neXtep.designer.vcs.ui.navigator">
         <excludes>
            <contentExtension
                  pattern="com.neXtep.designer.synch.*">
            </contentExtension>
            <contentExtension
                  pattern="com.neXtep.designer.vcs.ui.dependencies.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="com.neXtep.designer.vcs.ui.dependencies">
            </contentExtension>
         </excludes>
         <includes>
            <contentExtension
                  pattern="com.neXtep.designer.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.neXtep.designer.vcs.ui.navigator">
         <excludes>
            <actionExtension
                  pattern="com.neXtep.designer.synch.*">
            </actionExtension>
         </excludes>
         <includes>
            <actionExtension
                  pattern="com.neXtep.designer.vcs.ui.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewer
            viewerId="com.neXtep.designer.vcs.ui.dependenciesView">
         <popupMenu
               id="com.neXtep.designer.vcs.ui.popup">
            <insertionPoint
                  name="editions">
            </insertionPoint>
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="sql"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="actions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="version"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.neXtep.designer.vcs.ui.dependenciesView">
         <includes>
            <contentExtension
                  pattern="com.neXtep.designer.vcs.ui.dependencies">
            </contentExtension>
            <contentExtension
                  pattern="com.neXtep.dependencies.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.neXtep.designer.vcs.ui.dependenciesView">
         <includes>
            <actionExtension
                  pattern="com.neXtep.designer.vcs.ui.actions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="com.nextep.designer.vcs.ui.navigators.VersionNavigatorDragAdapterAssistant"
            viewerId="com.neXtep.designer.vcs.ui.navigator">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.nextep.designer.vcs.ui.jface.VersionableContentProvider"
            id="com.neXtep.designer.vcs.ui.versionables"
            labelProvider="com.nextep.designer.vcs.ui.jface.VersionableNewLabelProvider"
            name="%navigatorContent.versionable.name"
            priority="lowest">
         <triggerPoints>
            <or>
               <instanceof
                     value="com.nextep.designer.vcs.ui.navigators.VersionNavigatorRoot">
               </instanceof>
               <instanceof
                     value="com.nextep.designer.vcs.model.IVersionContainer">
               </instanceof>
               <instanceof
                     value="com.nextep.designer.vcs.model.IVersionable">
               </instanceof>
            </or>
         </triggerPoints>
         <dropAssistant
               class="com.nextep.designer.vcs.ui.navigators.VersionableDropAssistant"
               id="com.neXtep.designer.vcs.ui.versionableDropper">
            <possibleDropTargets>
               <instanceof
                     value="com.nextep.designer.vcs.model.IVersionContainer">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.nextep.datadesigner.model.ITypedObject">
               </instanceof>
               <instanceof
                     value="com.nextep.designer.vcs.ui.model.ITypedNode">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="com.nextep.designer.vcs.ui.navigators.VersionableActionProvider"
            id="com.neXtep.designer.vcs.ui.actions">
         <enablement>
            <instanceof
                  value="com.nextep.datadesigner.model.ITypedObject">
            </instanceof>
         </enablement>
      </actionProvider>
      <navigatorContent
            contentProvider="com.nextep.designer.vcs.ui.jface.DependenciesContentProvider"
            id="com.neXtep.designer.vcs.ui.dependencies"
            labelProvider="com.nextep.designer.vcs.ui.jface.VersionableNewLabelProvider"
            name="Dependencies"
            priority="lowest">
         <triggerPoints>
            <or>
               <instanceof
                     value="com.nextep.designer.vcs.ui.model.IDependencySearchRequest">
               </instanceof>
               <instanceof
                     value="com.nextep.datadesigner.model.IReferenceable">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.nextep.designer.vcs.ui.decorators.VersionableDecorator"
            id="com.nextep.designer.vcs.ui.decorators.VersionableDecorator"
            label="%decorator.version.label"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <objectClass
                  name="com.nextep.designer.vcs.model.IVersionable">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.nextep.designer.vcs.ui.decorators.MarkersDecorator"
            id="com.neXtep.designer.vcs.ui.markerDecorator"
            label="%decorator.marker.label"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="com.nextep.designer.vcs.ui.model.ITypedNode">
               </objectClass>
               <objectClass
                     name="com.nextep.datadesigner.model.ITypedObject">
               </objectClass>
            </or>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.nextep.designer.vcs.ui.decorators.UserLockDecorator"
            id="com.neXtep.designer.vcs.ui.userLockDecorator"
            label="%decorator.userLock.label"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="com.nextep.designer.vcs.model.IVersionable">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.nextep.designer.vcs.ui.navigators.NavigatorLinkHelper"
            id="com.neXtep.designer.vcs.ui.linkHelper">
         <editorInputEnablement>
            <instanceof
                  value="org.eclipse.ui.IEditorInput">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="com.nextep.datadesigner.model.ITypedObject">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.nextep.designer.vcs.ui.navigators.DependenciesNavigatorLinkHelper"
            id="com.neXtep.dependencies.linkHelper">
         <editorInputEnablement></editorInputEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.neXtep.designer.vcs.ui.navigator"
            name="Version Navigator view"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="com.neXtep.designer.ui.editorTypedPageContribution">
      <editorTypedPageContribution
            editorTypeId="CONTAINER"
            pageTypeId="CONTAINER">
      </editorTypedPageContribution>
   </extension>
   <extension
         point="com.neXtep.designer.ui.typeUIComponent">
      <typeUIComponent
            class="com.nextep.designer.vcs.ui.editors.ContainerFormEditor"
            typeId="CONTAINER">
      </typeUIComponent>
   </extension>

</plugin>
